/* ==========================================================================
   Single: People
   ========================================================================== */
body.single-people {
  section.main-person-content {
    padding-bottom: 30px;
    & > .container {
      //880px + 60px padding = 940px
      max-width: $container-width-small;
    }
    & + .get-involved {
      padding-top: 30px;
      clear: both;
    }
  }

  .person-header{
    .job-title,
    .company {
      @include font-size(1.8,2.1);
      font-family: $barlow-condensed;
      color: $otherlightgray;
      text-transform: uppercase;
      letter-spacing: .8px;
      font-weight: $medium;
    }
    .job-title + .company {
      padding-left: 11px;
      margin-left: 7px;
      position: relative;
      &:before {
        content: '|';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .wysiwyg {
    .portrait {
      float: right;
      margin: 5px 0px 40px 28px;
    }
  }
  .get-involved .module-header {
    margin-bottom: 49px;
  }
  .involved-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -12px -12px;

    .involved-link {
      position: relative;
      width: calc(33% - (48px / 2));
      margin: 0 12px 12px;
      min-width: 337px;
      text-align: center;
      text-decoration: none;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      padding: 10px;
      &:hover,
      &:focus {
        h3,
        .learn-more {
          color: $blue;
        }
        .learn-more:before {
          background-color: $blue;
        }
        .learn-more i {
          transform: translateX(6px);
          color: $blue;
        }
      }
      h3,
      .learn-more {
        @include transition;
        position: relative;
        color: #FFF;
        text-transform: uppercase;
      }
      h3 {
        margin-bottom: 23.5px;
        padding-bottom: 0;
      }
      .learn-more {
        @include font-size(1.4,1.7);
        font-family: $barlow-condensed;
        padding-top: 20px;
        letter-spacing: 1.05px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          @include transition;
          font-size: 6px;
          display: inline-block;
          transform: translateX(2px);
          vertical-align: middle;
          color: #FFF;
        }
        &:before {
          @include transition;
          content: '';
          background-color: $green;
          width: 65px;
          height: 3px;
          position: absolute;
          display: block;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .cover {
        background-color: $navy;
        overflow: hidden;
        z-index: 0;
        border-radius: 2px;
        img {
          mix-blend-mode: luminosity;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          opacity: .15;
          width: 100%;
        }
      }
    }
  }
}
