/* ==========================================================================
   Post Single
   ========================================================================== */

.single-post-content {
  & > .container {
    //880px + 60px padding = 940px
    max-width: $container-width-small;
  }
  .blog-topics {
    @include font-size(2.5, 3.5);
    max-width: 297px;
    float: right;
    margin-right: -75px;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 20px;
    font-family: $barlow-condensed;
    font-weight: $medium;
    color: $green;
    text-transform: uppercase;

    @include respond-to($container-width + 95) {
      margin-right: 0;
    }

    .button {
      margin-top: 23px;
      text-align: center;
    }
  }

  .link-list .post-categories {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: -5px;
    padding: 0;
    li {
      //need the important to override .wysiwyg styles
      @include font-size-import(1.3, 1.6);
      list-style: none;
    }
    a {
      @include font-size(1.3, 1.6);
      padding: 5px;
      letter-spacing: 0.5px;
      font-weight: $medium;
      font-family: $barlow-condensed;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &:after {
        @include transition;
        @include icomoon("\edbe");
        @include font-size(0.6, 99);
        display: inline-block;
        transform: translateX(3px);
      }
      &:hover,
      &:focus {
        &:after {
          transform: translateX(6px);
        }
      }
    }
  }

  .share-prompt {
    @include font-size(1.8, 2.1);
    letter-spacing: 0.8px;
    color: $textgray;
  }

  .footer-share-links {
    margin-left: -7px;
    padding-top: 4px;
    a {
      @include font-size(2.5, 2.5);
      padding: 7px;
      text-decoration: none;
    }
  }
}
