/* ==========================================================================
   Single Press Release
   ========================================================================== */

body.single-press_release {
  section.content > .container {
    //880px + 60px padding = 940px
    max-width: $container-width-small;
  }
  .feature-text {
    @include font-size(2.5,3.5);
    max-width: 297px;
    float: right;
    margin-right: -75px;
    padding-left: 50px;
    padding-top: 0;
    font-family: $barlow-condensed;
    font-weight: $medium;
    color: $green;
    text-transform: uppercase;

    @include respond-to($container-width + 95) {
      margin-right: 0;
    }
  }
}
