/* ==========================================================================
    Single Resource
   ========================================================================== */
body.single-resource {
  section.content > .container {
    //880px + 60px padding = 940px
    max-width: $container-width-small;
  }
  .image-wrap {
    @include cf;
    margin-top: 55px;
    border: 1px solid $chromegray;
    img {
      float: left;
      width: 100%;
    }
  }

}
