/* ==========================================================================
   Shared styles between single post types
   ========================================================================== */

.single-nav {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  a {
    @include font-size(2,2.1);
    display: flex;
    align-items: center;
    padding: 2px 12px;
    font-family: $barlow-condensed;
    font-weight: $medium;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;

    i {
      @include font-size(1,99);
    }

    &.previous {
      border-right: 2px solid $navy;
      i {
        margin-right: 5px;
      }
    }

    &.next {
      border-left: 2px solid $navy;
      i {
        margin-left: 5px;
      }
    }

    &:first-child {
      margin-left: -12px;
    }
  }
}

.single-header {
  margin-bottom: 20px;

  .subhead {
    @include font-size(1.8,2.8);
    margin-bottom: 12px;
  }

  .share-links a {
    @include font-size(2.5,2.5);
    text-decoration: none;
    margin: 0 7px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

body.single {

  .meta {
    display: flex;
    margin-bottom: 22px;
    @include titleize;
    @include font-size(1.8,2.1);
    letter-spacing: .8;
    color: $othergray;
  }
  .city,
  .pipe {
    padding-right: 7px;
  }

  .featured-image {
    margin: 40px 0;
  }

  .main .wysiwyg {
    margin-bottom: 10px;

    p,li {
      @include font-size(1.8,2.8);
    }
  }
}
