/* ==========================================================================
   Admin TinyMCE Editor Styles
   ========================================================================== */

@import "../util/reset";
@import "../util/normalize";
@import "../util/config";
@import "../elements/typography";
@import "../elements/wysiwyg";
@import "../elements/buttons";

* { font-family: sans-serif !important; }
html { font-size: 62.5% !important; }
body { margin: 0 10px; }
h1, h2, h3, h4, h5 { font-weight: bold; }

// Fix for editor line height
body#tinymce {
  &.mce-content-body p,
  &.mce-content-body div,
  &.mce-content-body li,
  &.mce-content-body h1,
  &.mce-content-body h2,
  &.mce-content-body h3,
  &.mce-content-body h4,
  &.mce-content-body h5,
  &.mce-content-body h6 {
    line-height: 1.4em !important;
  }

  &.mce-content-body li {
    font-size: 1.6rem !important;
  }
}
