/* ==========================================================================
   Admin Login Colors
   ========================================================================== */

@import "../util/config";
$button-color: $green;
$text-color: #fff;

body.login { background: $lightgray; }

body.login .wp-core-ui .button-primary,
body.login #wp-submit {
	background: $button-color; border-color: darken( $button-color, 10% ) darken( $button-color, 15% ) darken( $button-color, 15% ); box-shadow: 0 1px 0 darken( $button-color, 15% ); text-shadow: 0 -1px 1px darken( $button-color, 15% ), 1px 0 1px darken( $button-color, 15% ), 0 1px 1px darken( $button-color, 15% ), -1px 0 1px darken( $button-color, 15% );
	&:hover, &:focus { background: lighten( $button-color, 3% ); border-color: darken( $button-color, 15% ); color: $text-color; box-shadow: 0 1px 0 darken( $button-color, 15% ); }
	&:focus { box-shadow: inset 0 1px 0 darken( $button-color, 10% ), 0 0 2px 1px #33b3db; }
	&:active { background: darken( $button-color, 10% ); border-color: darken( $button-color, 15% ); box-shadow: inset 0 2px 0 darken( $button-color, 15% ); }
	&[disabled],
	&:disabled,
	&.button-primary-disabled,
	&.disabled { color: hsl( hue( $button-color ), 10%, 80% ) !important; background: darken( $button-color, 8% ) !important; border-color: darken( $button-color, 15% ) !important; text-shadow: none !important; }
}

.login p#nav a,
.login p#backtoblog a { color: $green; opacity: 1; transition: 150ms all ease-in-out; }
.login p#nav a:hover,
.login p#backtoblog a:hover { opacity: .5; color: $green; }
.login p#backtoblog a:active { color: $highlight-color; }

.login p.message { background: $positive-color; color: #fff; border-left: 0; }
.login p.message a { color: #fff; }
.login div#login_error { background: $negative-color; color: #fff; border-left: 0; }
.login div#login_error a { color: #fff; }
