/* ==========================================================================
   Homepage Slider
   ========================================================================== */

.home-slider {
  .slide {
    display: none;
    position: relative;
    min-height: 613px;
    padding-top: 116px;
    &:first-child {
      display: block;
    }

    // page header overrides
    .highlight-bar {
      left: -29px;
    }
    .static-bar.left {
      left: -209px;
    }
    .static-bar.right {
      left: calc(50% - 80px);
    }
  }

  .slide-text {
    padding-left: calc(50% + 10px); //six columns + gap
    padding-bottom: 54px;
    z-index: 3;
    color: $white;
    text-align: left;
  }

  h1 {
    max-width: 485px;
    padding-bottom: 12px;
  }

  .slide-paragraph {
    @include font-size(1.8, 2.7);
    font-family: $zilla;
    font-weight: $semibold;
  }

  .button {
    margin-top: 23px;
  }

  ul.slick-dots {
    position: absolute;
    right: calc((100vw - #{$container-inner-width}) / 2);
    bottom: 27px;
    z-index: 4;
    text-align: center;
    padding: 0;
  }

  ul.slick-dots li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    text-indent: -9999em;
    border-radius: 7px;
    background: $white;
    cursor: pointer;
    &:hover,
    &:focus {
      background: $green;
    }
    &.slick-active {
      background: $navy;
      &:hover,
      &:focus {
        background: $green;
      }
    }
  }
  @include respond-to($container-width) {
    ul.slick-dots {
      right: 30px;
    }
  }
  @include respond-to($tablet-width) {
    .slide {
      min-height: 0;
      padding-top: 0;
    }
    .cover {
      background-position: left center;
      height: 409px;
      bottom: auto;
    }
    .highlight-bar,
    .static-bar.left,
    .static-bar.right,
    .text-bg {
      bottom: auto;
      height: 409px;
    }
    .slide-text {
      padding-left: 0;
      padding-bottom: 0;
      width: 100%;
      text-align: center;
    }
    .slide-headline {
      display: flex;
      align-items: center;
      margin: 0 auto;
      height: 409px;
    }
    .slide-paragraph {
      font-size: 16px;
      line-height: 24px;
      font-weight: $regular;
      padding-bottom: 8px;
    }
    .slide-details {
      background: $navy;
      position: relative;
      left: -30px;
      width: calc(100% + 60px);
      padding: 16px 30px 30px;
      .button {
        background: $green;
        border: 1px solid $green;
        &:hover,
        &:focus {
          background: darken($green, 10%);
          border-color: darken($green, 10%);
        }
      }
    }
    ul.slick-dots {
      display: none !important;
    }
  }
  @include respond-to(800px) {
    .slide-headline {
      align-items: flex-end;
      padding-bottom: 25px;
      margin: 0;
      text-align: left;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
    .cover {
      background-position: 20% center;
    }
    .highlight-bar {
      @include rhombus(bottom, 53);
      left: -21px;
    }
    .static-bar.left {
      left: -201px;
    }
    .static-bar.right,
    .text-bg {
      display: none;
    }
  }
}
