/* ==========================================================================
   Mega Menu
   ========================================================================== */

.top-level-list {
  display: flex;
  margin-right: 12px;
}

.top-level-item {
  &:hover,
  &:focus {
    .mega-menu-dropdown {
      display: block;
    }
  }
}

.top-level-link {
  @include titleize;
  @include navy-hover-blue;
  @include font-size(1.8,2.2);
  display: block;
  padding: 12px 13px 34px;
  letter-spacing: 0.3px;
}

@mixin dropdown_bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50vw;
  content: '';
}

.mega-menu-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.15);

  & > .container {
    display: flex;
    padding: 0;
  }

  .left {
    width: 59.434%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background: $lightgray;
    color: $navy;

    &.left-type-text {
      padding: 30px 40px 40px 0;
    }
    &.left-type-image {
      padding: 40px 40px 40px 0;
    }
    &.left-type-icon {
      padding: 40px 60px 40px 0;
      width: 42.925%;
      & + .right {
        width: 57.075%;
      }
    }

    &:after {
      @include dropdown_bg;
      background: $lightgray;
      right: 100%;
    }
  }
  .right {
    width: 40.566%;
    position: relative;
    padding: 30px 0 40px 40px;
    background: $navy;
    color: $white;

    &.right-type-events {
      padding: 40px 0 40px 40px;
      .events {
        padding: 0;
        margin-top: -5px;
      }
    }

    &:after {
      @include dropdown_bg;
      background: $navy;
      left: 100%;
    }

    a {
      @include titleize;
      @include white-hover-blue;

      &:hover,
      &:focus {
        img {
          opacity: 0.7;
        }

        /*
          gulp-sass or node-sass is not outputting :not selectors
          so this override is necessary since @include white-hover-blue
          cannot be applied under a :not(.button) selector
          ...annoyed...   :/
        */
        &.button {
          color: white;
        }
      }
    }

    .title {
      @include titleize;
      @include font-size(1.8,2.2);
      letter-spacing: 0.5px;
      display: block;
    }

    small {
      @include titleize;
      @include font-size(1.4,1.6);
      letter-spacing: 0.5px;
    }

    .text {
      @include font-size(1.3,1.8);
    }

    .quicklink {
      @include font-size(1.3,2.4);
      display: block;
      letter-spacing: 0.5px;
    }
  }
}

// left side specifics
.text-link-block {
  margin: 0 15px;

  .title,
  .learn-more,
  .quicklink {
    @include titleize;
    display: block;
  }

  .title {
    @include font-size(1.8,2.2);
    letter-spacing: 0.3px;
  }

  p {
    @include font-size(1.3,1.8);
    color: $medium-color;
    padding: 8px 0;
  }

  .learn-more {
    @include navy-hover-blue;
    @include font-size(1.3,2.1);
    letter-spacing: 0.58px;

    & + .quicklinks-title {
      margin-top: 23px;
    }
  }

  .quicklinks-title {
    margin-top: 13px;
    margin-bottom: 7px;
  }

  .quicklink {
    @include navy-hover-blue;
    @include font-size(1.3,2.4);
    letter-spacing: 0.58px;
  }

  &:first-of-type { margin-left: 0; }
  &:last-of-type { margin-right: 0; }
}

.image-link-block {
  max-width: 180px;
  margin: 0 15px;
  text-decoration: none;

  .title {
    @include titleize;
    @include font-size(1.8,2.2);
    display: block;
    margin-top: 22px;
    letter-spacing: 0.3px;
    color: $navy;
  }

  &:hover,
  &:focus {
    img {
      opacity: 0.7;
    }
    .title {
      color: $blue;
    }
  }

  &:first-of-type { margin-left: 0; }
  &:last-of-type { margin-right: 0; }
}

.icon-link-block {
  min-width: 160px;
  margin-right: 20px;

  .title {
    @include titleize;
    @include font-size(1.8,3.1);
    display: block;
    margin-bottom: 4px;
    font-weight: $semibold;
    letter-spacing: 0.16px;
  }

  .icon-link {
    @include navy-hover-blue;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: $semibold;

    i {
      font-size: 25px;
      margin-right: 14px;
    }

    span {
      @include titleize;
      @include font-size(1.6,4.1);
      text-transform: none;
      letter-spacing: 0.16px;
    }
  }
}

// right side specifics
.right-type-text_links {
  .top {
    margin-bottom: 30px;
  }
  .bottom .title {
    margin-bottom: 5px;
  }
}

.blog-links {
  display: flex;
  margin-top: 27px;

  .image {
    margin-right: 40px;
  }

  .category-links {
    margin-top: 6px;
  }

  .category-links .title {
    margin-bottom: 9px;
  }
}

.event-links {
  display: flex;

  .image-link {
    width: 160px;
    margin-right: 30px;

    img {
      margin-bottom: 25px;
    }
  }
  .events-list {
    list-style: none;
    margin-top: 11px;
    .events-list-event {
      &:not(:last-of-type) {
        padding-bottom: 13px;
      }
      .label {
        @include font-size(1.3,1.8);
        display: block;
      }
      a {
        @include font-size(1.3,2.4);
      }
    }
  }
}

.featured-resource {
  display: flex;
  align-items: center;

  .image {
    margin-right: 40px;
    flex-shrink: 0;
  }

  .text small {
    display: block;
    margin-bottom: 12px;
  }
  .button {
    margin-top: 14px;
  }
}
