.footer-main.footer-mobile {
  display: none;
  @include respond-to($mobile-width) {
    display: block;
  }
  & > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    .site-footer-search-form,
    .site-footer-donate-button,
    .footer-nav,
    .mailchimp-subscribe,
    .cols,
    .social-links,
    .copyright {
      width: 100%;
    }
    .site-footer-search-form {
      margin-left: 0;
      .search-input {
        width: 100%;
        box-sizing: border-box;
      }
    }
    .site-footer-donate-button {
      margin-top: 15px;
      text-align: center;
    }
    .footer-nav {
      margin: 22px auto;
    }
    .mailchimp-subscribe {
      max-width: 433px;
      form.inline-footer {
        .gform_body,
        .gform_footer {
          width: 100%;
          text-align: center;
        }
        input[type="text"] {
          @include font-size(1.8,2.2);
          padding-top: 14px;
          padding-bottom: 14px;
          display: inline-block;
          text-align: center;
          padding: 7px 5px;
        }
        button[type="submit"] {
          text-align: center;
          display: inline-block;
          &:after {
            display: none;
          }
        }
      }
    }
    .cols.cols-2 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .col {
        width: 175px;
      }
      .col-left {
        display: flex;
        align-items: flex-end;
        .footer-logo {
          margin-bottom: 0;
        }
      }
      .col-right {
        text-align: right;
      }
    }
    .social-links {
      justify-content: center;

    }
    .copyright {
      text-align: center;
      margin-top: 24px;
    }
  }
}
