/* ==========================================================================
   Mobile Menu
   ========================================================================== */

// Visibility (Media Query)
.mobile-menu,
.mobile-menu-toggle {
  display: none;
}
@include respond-to($container-width) {
  .mobile-menu-toggle {
    display: block;
  }
  nav.main-nav,
  nav.auxiliary-nav {
    display: none;
  }
  header.site-header {
    height: 107px;
    .container {
      height: 100%;
      align-items: center;
    }
    .site-logo img {
      margin-top: 0;
    }
  }
  header.page-header {
    margin-top: 107px;
  }
  .notice {
    position: fixed;
    left: 0;
    right: 0;
    top: 107px;
  }
}

// Toggle State
.mobile-menu.is-open {
  display: block;
}
.mobile-menu-toggle {
  .icon-hamburger {
    display: block;
  }
  .icon-cross {
    display: none;
  }
  &.is-open {
    .icon-hamburger {
      display: none;
    }
    .icon-cross {
      display: block;
    }
  }
}

// Style
.mobile-menu-toggle {
  font-size: 50px;
  color: $green;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: $green;
  }
}
.mobile-menu {
  position: fixed;
  top: 107px;
  height: 100%;
  max-height: calc(100vh - 107px);
  left: 0;
  right: 0;
  overflow-y: scroll;
  background: $lightgray;

  .container {
    max-width: 600px;
    padding: 30px;
  }

  .site-search-form {
    margin-left: 0;
    margin-bottom: 40px;
    .search-input {
      box-sizing: border-box;
      width: 100%;
    }
    button {
      background: none;
    }
  }

  .max {
    margin: 13px 0;
  }
  .mobile-basic-link {
    justify-content: flex-start;
    padding: 12px 20px;
  }
  .mobile-donate-link {
    margin-top: 78px;
    margin-bottom: 20px;
  }
  .dropdown.is-expanded + .mobile-donate-link {
    margin-top: 32px;
  }

  .dropdown .dropdown-items {
    position: static;
    background: none;
  }

  .mobile-main-link {
    @include titleize;
    @include font-size(2.5, 3);
    color: $navy;
    letter-spacing: 0.42px;
    padding: 12px 0 8px;
  }

  .mobile-additional-link {
    @include titleize;
    @include font-size(1.8, 2.8);
    color: $blue;
    letter-spacing: 0.8px;
  }

  .mobile-event-link-label {
    @include font-size(1.5, 1.8);
    font-family: $barlow;
    font-weight: $regular;
    margin-top: 20px;
    margin-bottom: 4px;
  }
  .mobile-main-link + .mobile-event-link-label {
    margin-top: 16px;
  }

  .icon-link-blocks {
    display: flex;
    justify-content: space-between;
  }
  .icon-link-block {
    min-width: 50%;
    margin-right: 0;

    @include respond-to($mobile-width-small) {
      padding: 0 20px;
      min-width: 0;
    }
    @include respond-to(380px) {
      padding: 0 10px;
    }
    @include respond-to($mobile-width-tiny) {
      padding: 0;
      &:first-of-type {
        padding-right: 0;
      }
    }

    .mobile-main-link {
      display: block;
      padding-bottom: 12px;
    }

    .icon-link {
      i {
        line-height: 41px;
      }
      span {
        @include font-size(1.5, 2.1);
        color: $blue;
      }
    }
  }

  .auxiliary-nav {
    display: block;
    .menu {
      justify-content: center;
    }
  }
}
