/* ==========================================================================
   Page Content
   ========================================================================== */

.site-content {
  padding-bottom: 64px; // matches GHWB overlap
  background: #fff;
  color: $dark-color;
}
// With Sidebar
section.with-sidebar#page-content {
  .container {
    @include cf;
    text-align: left;
  }

  .main {
    float: left;
    width: 70%;
    padding: 30px 10% 50px 0;
  }
  .sidebar {
    float: left;
    width: 30%;
    padding: 30px;
    .cover {
      background: $light-color;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 32%;
      z-index: 1;
    }
    #sidebar-content {
      position: relative;
      z-index: 2;
    }
    .sidebar-block,
    aside.widget {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $medium-color;
      header {
        text-align: left;
        h4 {
          padding-bottom: 10px;
        }
      }
      hr {
        margin: 10px 0;
      }
      p {
        @include font-size(1.6,2.6);
        padding: 10px 0;
      }
      ul:not(.gform_fields),
      ol {
        li {
          @include font-size(1.6,2.6);
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  @include respond-to($container-width) {
    .main {
      float: none;
      width: 100%;
      padding: 40px 0;
    }
    .sidebar {
      float: none;
      width: 100%;
      margin-bottom: 20px;
      padding: 10px 25px;
      background: $light-color;
      .cover {
        display: none;
      }
      .sidebar-block {
        margin-bottom: 0;
        padding-top: 10px;
      }
    }
  }
}

section#page-content {
  text-align: center;
  &:not(.with-sidebar) .main {
    max-width: 750px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: left;
  }

  @include respond-to(580px) {
    &:not(.with-sidebar) .main {
      a.button {
        display: block;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
