/* ==========================================================================
   Page Header
   ========================================================================== */

.page-header {
  position: relative;
  margin-top: $header-height;

  // simple single template

  .header-single-text {
    padding-top: 12px;
    padding-bottom: 11px;
    text-align: center;
    color: #fff;
  }

  // full template, shared by home slider

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
  }

  .container {
    z-index: 3;
  }

  .highlight-bar {
    @include rhombus(bottom, 81);
    left: 27px;
    z-index: 2;
  }

  .static-bar {
    &.left {
      @include rhombus(bottom, 180);
      left: -153px;
      z-index: 2;
      background: $navy;
      opacity: 0.6;
    }
    &.right {
      @include rhombus(top);
      width: 100vw;
      left: calc(50% - 88px);
      z-index: 2;
      background: $darkblue;
      opacity: 0.6;
    }
  }

  .text-bg {
    @include rhombus(top);
    width: 100vw;
    left: calc(50% + 20px);
    z-index: 2;
    background: $blue;
    opacity: 0.6;
  }

  // full page header only

  &.full-page-header .container {
    min-height: 324px;
    display: flex;
    align-items: center;
    @include respond-to-ie {
      height: 1px; //lol
    }
  }

  .text {
    padding: 20px 0 20px calc(50% + 10px); //six columns + gap
    z-index: 4;
    color: $white;
    text-align: left;
  }

  .headline {
    padding: 4px 0 12px;
  }

  .subhead {
    @include font-size(2.2, 2.9);
    max-width: 475px;
    padding: 0;
    font-family: $zilla;
    font-weight: $semibold;
  }
  @include respond-to($tablet-width) {
    &.full-page-header h1 {
      font-size: 55px;
      line-height: 60px;
    }
    .cover {
      background-position: left center;
    }
    .text {
      padding: 20px 0;
      width: 100%;
      text-align: center;
    }
    .subhead {
      margin: 0 auto;
    }
  }
  @include respond-to(800px) {
    &.full-page-header .container {
      min-height: 400px;
      align-items: flex-end;
    }
    .cover {
      background-position: 20% center;
    }
    .text {
      padding: 20px 0 25px;
      text-align: left;
    }
    .headline {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
    .subhead {
      display: none;
    }
    .highlight-bar {
      @include rhombus(bottom, 53);
      left: -21px;
    }
    .static-bar.left {
      left: -201px;
    }
    .static-bar.right,
    .text-bg {
      display: none;
    }
  }
}

.page-header-anchor-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: $navy;
  color: $white;

  a {
    @include titleize;
    @include font-size(1.6, 1.9);
    min-width: 215px;
    margin: -1px 0 -1px;
    padding: 21px 20px 20px;
    text-align: center;
    letter-spacing: 1px;
    background: $navy;
    color: $white;
    border: 1px solid rgba($otherlightgray, 0.37);

    &:first-of-type {
      border-left-width: 2px;
    }
    &:last-of-type {
      border-right-width: 2px;
    }

    &:hover,
    &:focus {
      background: $blue;
    }
  }

  @include respond-to($container-width) {
    a {
      min-width: 0;
    }
  }
  @include respond-to($mobile-width) {
    display: none;
  }
}

.anchor-dropdown {
  display: none;
  background: $navy;

  .dropdown-button {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 18px 20px;
    .title {
      @include font-size(2.1, 2.5);
      letter-spacing: 1px;
      font-weight: $semibold;
    }
    i {
      position: absolute;
      right: 30px;
      font-size: 28px;
    }
  }
  .dropdown-items {
    padding: 0 0 10px;
  }
  .dropdown-item {
    @include font-size(2.1, 2.5);
    padding: 5px 30px;
  }

  @include respond-to($mobile-width) {
    display: block;
  }
}
