/* ==========================================================================
   Site Header
   ========================================================================== */

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $white;
  transition: all 1s ease;
  font-family: $barlow-condensed;

  &.scrolled {
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.15);
  }

  & > .container {
    display: flex;
    align-items: stretch;
    position: static;
    max-width: 1400px; /* 1340 inner with */
  }
}

.site-logo {
  margin-right: auto;
  padding: 15px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  img {
    height: 79px;

    @include respond-to-ie {
      width: 210px;
    }
  }
}

.auxiliary-nav .menu {
  display: flex;
  justify-content: flex-end;

  a {
    @include titleize;
    @include font-size(1.4, 1.7);
    display: inline-block;
    padding: 12px 10px;
    letter-spacing: 0.12px;
    color: $navy;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  li:nth-last-child(n + 2) {
    position: relative;

    a {
      padding-right: 11px;
    }

    &:after {
      @include align(vertical);
      right: 0;
      background: $navy;
      width: 1px;
      height: 18px;
      content: "";
    }
  }
}

.main-nav {
  display: flex;
  align-items: flex-start;
}

.site-search-form {
  position: relative;
  margin-left: 20px;

  .search-input {
    width: 226px;
    height: 43px;
    padding: 0 42px 0 20px;
    border: 1px solid $navy;
    border-radius: 2px;
    color: $dark-color;
    @include placeholder() {
      color: $medium-color;
    }
  }

  button {
    @include align(vertical);
    right: 8px;
    padding: 10px;
    background-color: transparent;
    &:hover,
    &:focus {
      color: $blue;
    }

    i {
      font-size: 20px;
    }
  }
}

.site-header-donate-button {
  padding-top: 12px;
  padding-bottom: 12px;
}

@include respond-to(1280px) {
  .site-logo img {
    max-width: 126px;
    height: auto;
    margin-top: 20px;

    @include respond-to-ie {
      height: 48px;
    }
  }
  .site-search-form .search-input {
    width: auto;
  }
}
