/* ==========================================================================
   Site Footer
   ========================================================================== */

.footer-quote {
  margin-top: -64px;
  background: $lightgray;

  & > .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: $comp-width;
    padding: 0;
    padding-top: 80px;
    padding-right: 45%;
  }

  .blockquote {
    // max-width: 700px;
    position: relative;
    z-index: 4;
    margin-left: 13.194%;
  }

  .image {
    @include cf;
    max-width: 492px;
    position: absolute;
    z-index: 3;
    // top: -64px;
    // margin-left: -40px;
    right: 6.806%;
    bottom: 0;
    img {
      float: left;
    }
  }

  .rhombi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    &:before,
    &:after {
      @include rhombus(bottom, 591);
      content: '';
      display: block;
      background-color:rgba($lockgray, .5);
      left: auto;
    }
    &:before {
      right: 5.833%;
      z-index: 2;
    }
    &:after {
      right: 12.5%;
      z-index: 1;
    }
  }
  @include respond-to(950px) {
    & > .container {
      padding-right: 375px;
    }
    .image {
      right: 0;
      max-width: 350px;
    }
  }
  @include respond-to(775px) {
    & > .container {
      padding: 37px 30px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
    .blockquote {
      width: 100%;
      margin-left: 0;
      &:before {
        right: auto;
        left: 0;
        top: -10px;
      }
      cite {
        margin: 30px 0 15px;
      }
    }
    .image {
      position: relative;
      right: auto;
      max-width: 492px;
    }
    .rhombi {
      &:before {
        right: auto;
        left: 25%;
        z-index: 2;
      }
      &:after {
        right: auto;
        left: 46.5%;
        z-index: 1;
      }
    }
  }
}

.footer-main {
  @include font-size(1.4, 1.7);
  background: $navy;
  color: $white;
  font-family: $barlow-condensed;
  font-weight: $medium;
  padding: 28px 0 18px;

  a {
    @include titleize;
  }

  & > .container {
    display: flex;
    justify-content: space-between;
  }

  // left
  .footer-logo {
    max-width: 155px;
    display: block;
    margin-bottom: 14px;
    @include respond-to-ie {
      height: 58.55px;
    }
  }

  .street-address {
    @include titleize;
    @include font-size(1.4, 1.9);
    font-family: $barlow-condensed;
    font-weight: $medium;
  }

  // center
  .center {
    // right side of center gets 10 extra pixels over "space-between" calculation
    padding-right: 10px;
  }
  .social-links {
    @include plain;
    display: flex;
    margin: -9px -12px 10px;

    a {
      display: block;
      padding: 12px;
      color: $white;
      opacity: 0.4;
      &:hover,
      &:focus {
        color: $blue-darken;
        opacity: 1;
      }
    }
    i {
      font-size: 25px;
    }
  }

  .footer-nav {
    margin-left: -7px;
  }
  .menu {
    li {
      display: block;
    }
    a {
      @include font-size(1.4, 1.6);
      display: block;
      padding: 7px;
      color: $white;
      letter-spacing: 0.5px;
      &:hover,
      &:focus {
        color: $blue-darken;
      }
    }
  }

  // Right
  .mailchimp-subscribe {
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 35px;
  }

  .site-footer-donate-button {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .site-footer-search-form {
    display: inline-block;
    position: relative;
    margin-left: 10px;

    .search-input {
      background: none;
      border: 1px solid $white;
      border-radius: 2px;
      width: 257px;
      height: 43px;
      padding: 0 42px 0 20px;
      color: $white;
    }

    button {
      @include align(vertical);
      right: 8px;
      padding: 10px;
      background: none;
      &:hover,
      &:focus {
        color: $blue-darken;
      }
      i {
        font-size: 20px;
      }
    }
  }

  .copyright {
    @include font-size(1.1, 1.3);
    margin-top: 59px;
    font-family: $barlow-condensed;
    font-weight: $medium;
    letter-spacing: 0.66px;
    text-align: right;
  }
  @include respond-to(900px) {
    & > .container {
      flex-wrap: wrap;
      justify-content: center;
    }
    .left,
    .center {
      width: 50%;
    }
    .center {
      padding-right: 0;
      text-align: right;
      .social-links {
        justify-content: flex-end;
      }
    }
    .right {
      width: 100%;
      max-width: 433px;
      margin-top: 15px;
      .copyright {
        text-align: center;
      }
    }
  }
  @include respond-to($mobile-width) {
    display: none;
  }
}
