/* ==========================================================================
   Affiliates (Global Network + SEI Network)
   ========================================================================== */

.affiliates-index:before {
  display: none;
}

.affiliate-results {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.affiliate-card {
  position: relative;
  z-index: 0;
  min-width: 250px;
  width: calc((100% - 80px) / 4);
  margin: 10px;
  padding: 20px;

  .region {
    @include font-size(1.2, 1.8);
    font-family: $barlow-condensed;
    font-weight: $semibold;
    color: $textgray;
    padding: 6px 0 2px;
  }

  .name {
    @include titleize;
    @include font-size(2, 2.1);
    letter-spacing: 0.5px;
    color: $blue;
    padding: 0 0 9px;
  }

  .links {
    position: absolute;
    left: -10px;
    right: -10px;
    margin-top: 10px;
    padding: 0 20px 20px;
    background: darken($lightgray, 3%);
    display: flex;
    .button {
      padding: 7px 20px;
    }
    a {
      margin-right: 8px;
      text-decoration: none;
    }
    a:last-of-type {
      margin-right: 0;
    }
    i {
      font-size: 35px;
    }
  }

  .address,
  .city-state {
    @include font-size(1.4, 2);
    padding: 6px 0 2px;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    .backdrop {
      border-color: $blue;
      background: darken($lightgray, 3%);
    }
  }

  &:not(.active) {
    .icon-cross,
    .address,
    .links {
      display: none;
    }
  }

  &.active {
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;

    .backdrop {
      left: -10px;
      right: -10px;
      background: darken($lightgray, 3%);
    }

    .region,
    .city-state {
      display: none;
    }

    &:hover,
    &:focus {
      cursor: default;

      .backdrop {
        border-color: $navy;
      }
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-top: 3px solid $navy;
    border-radius: 3px;
    background: $lightgray;
  }

  .icon-cross {
    @include navy-hover-blue;
    float: right;
    padding: 2px;
  }
}

// Service Enterprise only
body.page-id-953 {
  .alm-filters.alm-filters-container .alm-filter {
    flex-grow: 1;
    &.alm-filter--search {
      margin-left: 10px;
    }
  }
  .dropdown .dropdown-items {
    flex-wrap: wrap;
    max-height: 260px;
    width: 500px;
    overflow-y: scroll;

    .dropdown-item {
      width: 33.333%;
    }

    @include respond-to($container-width) {
      width: auto;
      max-height: 400px;
      flex-wrap: nowrap;
      .dropdown-item {
        width: 100%;
      }
    }
    @include respond-to-height(768px) {
      max-height: 400px;
    }
    @include respond-to-height(600px) {
      max-height: 300px;
    }
  }
}
