/* ==========================================================================
   Blog
   ========================================================================== */

.blog-results {
  .card {
    .post-type {
      display: none;
    }
    &.huge .post-type {
      display: block;
    }
  }
}
