/* ==========================================================================
   Gated Resources
   ========================================================================== */
section.module-type-gravity-form.login-form {
  background: #FFF;
  color: $navy;
  .container   {
    padding-top: 60px;
    padding-bottom: 60px;
    align-content: center;
  }
  .left-col {
    border-right: 1px solid $otherlightgray;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 61px;
    .module-heading {
      margin-bottom: 15px;
    }
    .module-subheading {
      @include font-size(1.6,2.6);
      color: $textgray;
      margin: 0;
    }
  }
  .right-col {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
    h2 {
      padding-top: 0;
    }
    .login-error p{
      color: $red;
    }
  }
  form#loginform {
    input:not([type="submit"]) {
      width: 100%;
      border-bottom: 1px solid $otherlightgray;
      color: $navy;
      @include placeholder {
        color: $navy;
      }
    }
    .login-remember label{
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        width: auto ;
        margin-right: 5px;
      }
    }
  }
  @include respond-to(900px) {
    .left-col {
      border-right: 0;
      border-bottom: 1px solid $otherlightgray;
      padding-right: 0;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
  }
}
