/* ==========================================================================
   Custom Page: History
   ========================================================================== */
section.events + section.module {
  padding-top: 0px;
  margin-top: -16px;
}

.events {
  padding: 30px 0;
  .pseudo-container {
    max-width: $container-width;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.event {
  padding: 50px 0;

  .main {
    border-left: 3px solid $navy;
    padding-left: 8px;
    width: 66%;
    padding-right: 50px;
  }
  .sidebar {
    width: 34%;
    padding-left: 50px;
    blockquote {
      padding-top: 18px;
      font-style: normal;
      &:before {
        color: $darkblue;
        right: auto;
        left: 0;
        top: 0;
      }
      p {
        color: $green;
        font-weight: $semibold;
      }
      cite {
        position: relative;
        padding-left: 11px;
        margin: 5px 0;
        .mdash {
          position: absolute;
          left: 0;
          top: .9rem;
          transform: translateY(-50%);
        }
      }
    }
    .video-link {
      height: 74px;
      width: 74px;
      display: block;
      margin: 0 auto;
      svg {
        height: 100%;
        width: 100%;
        g {
          @include transition;
        }
      }
      &:hover,
      &:focus {
        svg g {
          fill: $green;
        }
      }
    }
    .cta {
      i {
        font-size: 47px;
      }
      h3 {
        padding-bottom: 18px;
      }
      p {
        padding-top: 18px;
        position: relative;
        &:before {
          content: '';
          display: block;
          height: 3px;
          background-color: $green;
          width: 60px;
          position: absolute;
          top: -1.5px;
          left: 0;
        }
      }
    }
  }
  &.with-bg {
    .main {
      border-color: #FFF;
      color: #FFF;
      max-width: 526px;
    }
  }
  &.with-quote {
    .main {
      border-color: $green;
    }
  }
}

@include respond-to(750px) {
  .event {
    padding: 25px 0;
    .main,
    .sidebar {
      width: 100%;
      padding: 20px 8px;
    }
  }
}
