/* ==========================================================================
   Page: Search Results
   ========================================================================== */

.site-search-results {
  .site-search-form {
    margin: 0 auto 60px;
    max-width: 600px;
    .search-input {
      height: 45px;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .no-results {
    text-align: center;
  }
}
