/* ==========================================================================
   Page: Search Results
   ========================================================================== */

#algolia-result {
  margin-top: 32px;
}

.module-type-search-result {
  border-top: 1px solid $chromegray;
  border-bottom: 1px solid $chromegray;
  margin-top: -1px;
  padding: 57px 0 52px;
  .result-date {
    margin-top: -5px;
    padding: 0;
  }
  .result-time {
    padding-bottom: 0;
    font-weight: $semibold;
    letter-spacing: 0.77px;
    font-family: $zilla;
    text-transform: none;
  }
  .result-location {
    @include font-size(1.4, 1.8);
    padding-bottom: 0;
    color: $textgray;
    font-weight: $semibold;
    text-transform: none;
  }
  .columns-two .main-col .wysiwyg p {
    @include font-size(1.6, 2.6);
    color: $textgray;
  }
  .button {
    margin-top: 20px;
  }
}

.volunteer-search-results-footer {
  display: none;
  padding-top: 40px;
  text-align: center;
  &.visible {
    display: block;
  }
}
