/* ==========================================================================
   Buttons
   ========================================================================== */

.button + .button {
  margin-left: 15px;
}

.button {
  @include font-size(1.6, 1.9);
  @include transition;
  display: inline-flex;
  align-items: center;
  padding: 8px 36px;
  border-radius: 2px;
  background: $green;
  border: 1px solid $green;
  color: #fff;
  font-family: $barlow-condensed;
  font-weight: $medium;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  &:hover,
  &:focus {
    background: darken($green, 10%);
    border-color: darken($green, 10%);
    color: #fff;
  }
  &:active {
    // transform: translate3d(0, 1px, 0);
    background: darken($green, 15%);
    border-color: darken($green, 15%);
  }
}

// Size Variations
.button.tight {
  padding-left: 24px;
  padding-right: 24px;
}
.button.small {
  @include font-size(1.4, 1.8);
  padding: 6px 20px;
}
.button.large {
  @include font-size(1.8, 2.1);
  padding: 12px 72px;
}
.button.max {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.button.done {
  display: none;
}
.button.sharp {
  border-radius: 0;
}

// Color Variations
.button.blue {
  background: $blue;
  border: 1px solid $blue;
  &:hover,
  &:focus {
    background: darken($blue, 10%);
    border-color: darken($blue, 10%);
    color: #fff;
  }
  &:active {
    background: darken($blue, 15%);
    border-color: darken($blue, 15%);
  }
}
.button.navy {
  background: $navy;
  border: 1px solid $navy;
  &:hover,
  &:focus {
    background: darken($navy, 10%);
    border-color: darken($navy, 10%);
    color: #fff;
  }
  &:active {
    background: darken($navy, 15%);
    border-color: darken($navy, 15%);
  }
}
.button.orange {
  background: $orange;
  border: 1px solid $orange;
  &:hover,
  &:focus {
    background: darken($orange, 10%);
    border-color: darken($orange, 10%);
    color: #fff;
  }
  &:active {
    background: darken($orange, 15%);
    border-color: darken($orange, 15%);
  }
}
.button.darkblue {
  background: $darkblue;
  border: 1px solid $darkblue;
  &:hover,
  &:focus {
    background: darken($darkblue, 10%);
    border-color: darken($darkblue, 10%);
    color: #fff;
  }
  &:active {
    background: darken($darkblue, 15%);
    border-color: darken($darkblue, 15%);
  }
}

// Primary / Secondary / Tertiary
// these are Hive theme styles and may be used in backend
.button.primary {
  background: $primary-color;
  border: 1px solid $primary-color;
  &:hover,
  &:focus {
    background: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
    color: #fff;
  }
  &:active {
    background: darken($primary-color, 15%);
    border-color: darken($primary-color, 15%);
  }
}
.button.secondary {
  background: $secondary-color;
  border: 1px solid $secondary-color;
  &:hover,
  &:focus {
    background: darken($secondary-color, 10%);
    border-color: darken($secondary-color, 10%);
    color: #fff;
  }
  &:active {
    background: darken($secondary-color, 15%);
    border-color: darken($secondary-color, 15%);
    // transform: translate3d(0, 1px, 0);
  }
}
.button.tertiary {
  background: $tertiary-color;
  border: 1px solid $tertiary-color;
  &:hover,
  &:focus {
    background: darken($tertiary-color, 10%);
    border-color: darken($tertiary-color, 10%);
    color: #fff;
  }
  &:active {
    background: darken($tertiary-color, 15%);
    border-color: darken($tertiary-color, 15%);
    // transform: translate3d(0, 1px, 0);
  }
}

// reset defaults for <button> (use .button to get button styles)
button {
  appearance: none;
  outline: none;
  border: 0;
}
