/* ==========================================================================
   Card Grids
   ========================================================================== */

// Color Classes
$colors: "blue" "brown" "darkblue" "green" "navy" "orange" "pink";
$color-codes: $blue $brown $darkblue $green $navy $orange $pink;

@for $i from 1 through length($colors) {
  .card-#{nth($colors, $i)} {
    box-shadow: 0 3px 0 0 nth($color-codes, $i);

    &:hover,
    &:focus {
      box-shadow: 0px 0px 0px 3px nth($color-codes, $i);
    }

    .post-type {
      color: nth($color-codes, $i);
    }
  }
}

// Card Styles
$img-sm: 110px;
.card {
  display: flex;
  flex-direction: column;
  min-height: 243px;
  text-decoration: none;

  .image {
    @include transition;
    overflow: hidden;
  }

  img {
    @include transition;
    height: $img-sm;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 16px 20px 24px;
  }

  .post-type {
    @include titleize;
    @include font-size(1.3, 2.1);
    padding: 2px 0 0;
    margin-bottom: -4px;
    letter-spacing: 0.58px;
    font-weight: $medium;
  }

  .title {
    @include font-size(1.6, 1.7);
    font-weight: $bold;
    letter-spacing: 0.3;
  }

  .excerpt {
    @include font-size(1.3, 1.8);
    color: $navy;
  }

  .meta {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  .date {
    @include font-size(1.3, 2.1);
    font-weight: $medium;
    color: $navy;
  }

  .byline {
    @include titleize;
    @include font-size(1.3, 2.1);
    color: $textgray;
    letter-spacing: 0.5px;
  }

  .author {
    color: $blue;
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.05);
    }

    .ie-object-fit-active {
      background-size: 105% 105%;
    }
  }
}

// Layout
.card-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  .card {
    width: calc((100% - 80px) / 4);
    margin: 10px;
    min-width: 250px;
  }
}

// Parent Options
.bg-lightgray .card {
  background: $white;
}
.bg-white .card {
  background: $lightgray;
}

// Responsive
.card-grid-wrapper,
.ajax-load-more-wrap {
  @include grid-container;
}
