/* ==========================================================================
   Card Grids -- Advanced [uses css grid, supports row-spanning 'huge' posts]
   ========================================================================== */

$img-lg: 300px;

.card-grid-advanced {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 23px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: dense;

  .huge {
    @include respond-above(850px) {
      grid-column-end: span 2;
      grid-row-end: span 2;
      img {
        height: $img-lg;
      }

      .text {
        padding: 40px;
      }

      .post-type {
        @include titleize;
        @include font-size(1.6, 2.1);
        margin-bottom: 10px;
        letter-spacing: 0.71px;
        font-weight: $regular;
      }

      .title {
        @include font-size(2.4, 2.4);
      }
    }
  }
  @include respond-to($container-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include respond-to(850px) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond-to(580px) {
    grid-template-columns: 1fr;
  }
}
