/* ==========================================================================
   Dropdowns
   ========================================================================== */

.dropdown {
  position: relative;

  .dropdown-button {
    justify-content: space-between;
    white-space: nowrap;
    padding: 12px 20px;
    transition: none;

    i {
      @include transition;
      margin-left: 10px;
    }

    // Filter-specific
    @each $parent in alm-filters, algolia-search-inputs {
      @at-root .#{$parent} & {
        width: 100%;
        .title {
          overflow: hidden;
        }
      }
    }
  }

  .dropdown-items {
    display: none;
    flex-direction: column;
    min-width: 100%;
    position: absolute;
    z-index: 5;
    padding: 10px 0;
    background: $darkblue;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    @include respond-to-height(768px) {
      max-height: 400px;
      overflow-y: scroll;
    }
    @include respond-to-height(600px) {
      max-height: 300px;
    }
  }

  .dropdown-item {
    @include font-size(1.6, 2.6);
    padding: 0 30px;
    font-family: $barlow-condensed;
    font-weight: $medium;
    color: $white;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      background: rgba($white, 0.15);
      outline: none;
    }
  }

  &.is-expanded {
    .dropdown-button {
      background: $darkblue;
      border-color: $darkblue;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      i {
        transform: scaleY(-1);
      }
    }

    .dropdown-items {
      display: flex;
    }
  }

  // Special Case: Combo Dropdowns with columns
  .dropdown-column-items {
    display: flex;
    flex-direction: column;
  }
  .dropdown-heading {
    padding: 0 30px 6px;
    color: $white;
  }
  @include respond-above(1200px) {
    .dropdown-items.with-columns {
      flex-direction: row;
    }
    .dropdown-column-items {
      display: inline-flex;
      flex-direction: row;
      writing-mode: vertical-lr;
      flex-wrap: wrap;
      max-height: 182px;
      * {
        writing-mode: horizontal-tb;
      }
    }
  }

  // special handling for reset item
  &[data-value="#"] .dropdown-item[data-value="#"] {
    display: none;
  }
  .dropdown-item[data-value="#"] {
    opacity: 0.6;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  .dropdown-column ~ .dropdown-column .dropdown-heading {
    margin-top: 12px;
    @include respond-above(1080px) {
      margin-top: 26px;
    }
  }
  .dropdown-item[data-value="#"] + .dropdown-heading {
    margin-top: 0px;
  }
  &[data-value="#"] .dropdown-column ~ .dropdown-column .dropdown-heading {
    margin-top: 12px;
  }
  &[data-value="#"] .dropdown-item[data-value="#"] + .dropdown-heading {
    margin-top: 12px;
  }
}
