/* ==========================================================================
   Filters
   ========================================================================== */

// we don't want links to editing filters popping up for logged-in users
.alm-filters-edit {
  display: none !important;
}

.alm-btn-wrap {
  text-align: center;
}
.alm-load-more-btn {
  margin-top: 40px;
}

.alm-empty {
  margin-left: 10px;
}

.alm-filters.alm-filters-container,
.algolia-search-inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px -10px 26px;

  .alm-filter,
  .algolia-search-filter,
  .combo-dropdown {
    flex-shrink: 0;
    width: calc((100% - 80px) / 4);
    margin: 10px;
    padding: 0;
  }

  .alm-filter--search {
    margin-left: auto;
    width: calc((100% - 40px) / 2);
    #search-text {
      @include transition;
      @include titleize;
      @include font-size(1.8, 2.2);
      @include appearance(none);
      background: none;
      outline: none;
      height: 45px;
      padding: 0 42px 0 20px;
      border: 1px solid $navy;
      border-radius: 2px;
      color: $dark-color;
      &:focus {
        border-color: $blue;
      }
      @include placeholder() {
        @include font-size(1.8, 2.2);
        color: $medium-color;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    button {
      @include align(vertical);
      right: 8px;
      padding: 10px !important;
      &:hover,
      &:focus {
        color: $blue !important;
      }

      i {
        font-size: 20px;
      }

      // remove stupid stuff from ALM
      box-shadow: none !important;
      border-radius: 0 !important;
      height: auto !important;
      line-height: 1 !important;
      font-size: 15px;
      color: $navy !important;
      background-color: transparent !important;
    }
  }
}

// hide hacky filters required for PR grid
.alm-filter--orderby,
.alm-filter--meta[data-meta-key="year"] {
  display: none !important;
}

// hide blog tag filter
.alm-filter--tag {
  display: none !important;
}

// this was for dropdownify FOUT, but since IE won't use it, we shouldn't hide
// select.alm-filter--item {
//   display: none !important;
// }

//Resource Gated and Ungated Links
.resource-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .gated-link {
    @include font-size(3.1, 99);
    text-decoration: none;
    color: $lockgray;
    & + .gated-link {
      margin-left: 12px;
    }
    &.active {
      color: $navy;
      pointer-events: none;
    }
    &:hover,
    &:focus {
      color: $green;
    }
    & + .alm-filters.alm-filters-container {
      margin-left: 28px;
    }
  }
  .alm-filters.alm-filters-container {
    margin: 0;
    flex-grow: 1;
    width: calc(100% - 95px);
    justify-content: space-between;
    .alm-filter {
      margin-left: 0;
      margin-right: 0;
    }
    .alm-filter--search {
      width: 64%;
    }
    .alm-filter--taxonomy {
      width: 34%;
    }
  }

  // Resource filters get their own responsive
  @include respond-to($container-width) {
    max-width: 790px;
    margin: 0 auto 20px;
  }
  @include respond-to(850px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 520px;
    .gate-link {
      margin-bottom: 10px;
    }
    .alm-filters.alm-filters-container {
      width: 100%;
      margin-left: 0;
      .alm-filter--search,
      .alm-filter--taxonomy {
        width: 100%;
      }
    }
  }
}

// global filters responsive
@include respond-to($container-width) {
  .filters-wrap {
    max-width: 790px;
    margin: 0 auto;
  }
  .alm-filters.alm-filters-container,
  .algolia-search-inputs {
    .alm-filter,
    .algolia-search-filter,
    .combo-dropdown,
    .algolia-search-input,
    .alm-filter--search {
      width: calc((100% - 60px) / 3);
    }
  }
}
@include respond-to(850px) {
  .filters-wrap {
    max-width: 520px;
  }
  .alm-filters.alm-filters-container,
  .algolia-search-inputs {
    .alm-filter,
    .algolia-search-filter,
    .combo-dropdown,
    .algolia-search-input,
    .alm-filter--search {
      width: calc(100% - 20px);
    }
  }
}

// IE
@include respond-to-ie {
  .alm-filters .alm-filter--select,
  .algolia-search-filter {
    select {
      height: 45px;
      width: 100%;
      padding: 10px;
    }
  }
}
