/* ==========================================================================
   Form Fields
   ========================================================================== */

form {
  label {
    @include font-size(1.6,2.6);
    display: block;
    padding: 0 0 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea,
  .ginput_container_select select {
    @include transition;
    @include titleize;
    @include font-size(1.8,2.2);
    @include appearance(none);
    border: 0;
    border-bottom: 1px solid $white;
    color: $white;
    padding: 10px;
    border-radius: 0;
    background: none;
    outline: none;
    &:focus {
      border-color: $blue;
    }
    @include placeholder() {
      color: rgba($white, .8);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .ginput_container_select select {
    padding: 12px 10px;
  }
  textarea {
    @include font-size(1.8,2.8);
    // set textarea height to match single input,
    // we will use autogrow jquery plugin to auto-expand as users type
    height: 43px;
  }
  input[type="submit"],
  button[type="submit"] {
    @extend .button;
    @extend .button.large;
    @include appearance(none);
    outline: none;
  }
}

/* ==========================================================================
   Gravity Forms
   ========================================================================== */

form {
  .gform_body {
    width: 100%;
  }
  .gform_fields {
    @include plain;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .gfield {
      padding: 15px 0;
      width: 100%;
      // Text Inputs
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="url"],
      input[type="password"],
      input[type="search"],
      textarea {
        width: 100%;
      }

      .gfield_required {
        color: $secondary-color;
        margin-left: 5px;
      }
      &.gform_hidden {
        display: none;
      }
      &.half {
        @include respond-above(650px){
          width: calc(50% - 6.5px);
        }
      }
      &.hide-label {
        label {
          display: none;
        }
      }

      // Radios & Checkboxes
      ul.gfield_radio,
      ul.gfield_checkbox {
        @include plain;
        li {
          @include plain;
          display: block;
          padding-bottom: 2px;
          padding-left: 2px;
          label {
            @include transition;
            @include font-size(1.6,2.6);
            display: inline;
            padding-left: 8px;
            font-weight: normal;
          }
          input {
            position: relative;
            top: -1px;
          }
          input:hover + label,
          label:hover,
          label:focus {
            color: $secondary-color;
            cursor: pointer;
          }
        }
      }

      // Select Fields
      .ginput_container_select {
        position: relative;
        select {
          @include appearance(none);
          width: 100%;
          padding-right: 30px;
          outline: none !important;
        }
        select::-ms-expand {
          display: none;
        }
        &:before {
          @include triangle(up, 8px, 7px, $dark-color);
          position: absolute;
          top: 14px;
          right: 11px;
          content: '';
          pointer-events: none;
        }
        &:after {
          @include triangle(down, 8px, 7px, $dark-color);
          position: absolute;
          top: 24px;
          right: 11px;
          content: '';
          pointer-events: none;
        }
      }

      // Validation Field
      &.gform_validation_container {
        display: none !important;
      }
    }
  }
  .gform_footer {
    clear: both;
    padding-top: 25px;
  }
  //inline form in footer
  &.inline-footer {
    position: relative;
    max-width: 433px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .gform_body {
      width: calc(100% - 139px);
      margin-right: -2px;
      .gform_fields {
        .gfield {
          padding: 0;
          .gfield_label {
            display: none;
          }
        }
      }
    }
    .gform_footer {
      width: 141px;
      padding-top: 0;
    }
    .validation_error {
      width: 100%;
      padding-top: 0;
    }
    input[type="text"] {
      @include font-size(1.4,1.6);
      border: none !important;
      background: rgba(#000, .3);
      border-radius: 2px 0 0 2px;
      padding-right: 141px;
      letter-spacing: .5px;
      padding: 7px 5px 7px 16px;
      @include placeholder {
        color: #fff;
      }
    }
    button[type="submit"] {
      @include font-size(1.4,1.6);
      padding: 6px 23px;
      letter-spacing: .5px;
      width: 100%;
      background-color: $blue;
      border-color: $blue;
      &:after {
        @include transition;
        content: '\edbe';
        font-family: 'icomoon';
        font-size: 10px;
        margin-left: 5px;
        transform: translateX(0px);
      }
      &:hover,
      &:focus {
        background: darken($blue,10%);
        border-color: darken($blue,10%);
        color: #fff;
        &:after {
          transform: translateX(3px);
        }
      }
      &:active {
        background: darken($blue,15%);
        border-color: darken($blue,15%);
      }
    }
  }
}

/* ==========================================================================
   Float Labels
   ========================================================================== */

form.fl-form {

  .fl-wrap {
    position: relative;

    // Hidden
    label.fl-label {
      transition: all .25s ease-in-out;
      position: absolute;
      bottom: 100%;
      left: 0;
      display: inline-block;
      padding: 2px 5px 0 5px;
      font-weight: 300;
      opacity: 0;
      transform: translateY(10px) rotateX(90deg);
    }

    // Floated
    &.fl-is-active {
      label.fl-label {
        color:$white;
        transform: translateY(0) rotateX(0);
        opacity: 1;
      }
    }

    // Select Placeholder
    &.fl-wrap-select {
      select { font-weight: $light; }
      &.fl-is-active select { font-weight: 600; }
    }

    &--invalid {
      .fl-error {
        color: $red;
        font-size: 12px;
      }
    }
  }
}

/* ==========================================================================
   Validation Messages
   ========================================================================== */

.validation_error,
.gform_confirmation_message,
.success_message {
  margin: 10px 0;
  padding: 15px;
  color: #fff;
  background: $negative-color;
  font-weight: bold;
}
.gform_confirmation_message {
  background: $positive-color;
}
.success_message {
  margin: 0;
  padding: 0;
  background: $positive-color;
  font-weight: normal;
  p {
    text-align: center;
  }
}
.gfield_error {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea {
    border-color: $negative-color;
  }
  ::-webkit-input-placeholder {
    color: $negative-color;
    -webkit-font-smoothing: antialiased;
  }
  ::-moz-placeholder {
    color: $negative-color;
    -moz-osx-grayscale: antialiased;
  }
  :-ms-input-placeholder {
    color: $negative-color;
  }
  input:-moz-placeholder {
    color: $negative-color;
    -moz-osx-grayscale: antialiased;
  }
}
.gfield_description,
.validation_message {
  @include font-size(1.4,2);
  padding: 8px 0 0 0;
  text-align: left;
  &.validation_message {
    color: $negative-color;
  }
}

.gform_ajax_spinner {
  margin-left: 10px;
}
