/* ==========================================================================
   Instafeed
   ========================================================================== */
section.type-instafeed {
  .instagram-grid {
    list-style: none;
    display: flex;
    margin: 0 -10px -20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    li {
      width: calc(25% - 20px);
      margin: 0 10px 20px;
      min-width: 250px;
      a {
        display: block;
        &:hover,
        &:focus {
          box-shadow: 0px 0px 0px 3px $green;
        }
      }
      .photo {
        padding-top: 100%;
        position: relative;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover; // TODO -- need cross-browser for ie11
      }
    }
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: -20px;
    .instalink,
    .hashtag {
      @include font-size(3.8,4.6);
      color: $blue;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $barlow-condensed;
      font-weight: $semibold;
      letter-spacing: .5px;
      margin: 0 10px 20px;
      display: flex;
      align-items: center;
      i {
        padding-right: 38px;
        @include respond-to(700px) {
          padding-right: 20px;
        }
      }
      &:hover,
      &:focus {
        color: $green;
      }
    }
    .hashtag {
      color: $navy
    }
  }
}
