/* ==========================================================================
   Pagination
   ========================================================================== */

// This is in Search Results

.pagination {
  @include titleize;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  letter-spacing: 0.5px;
  .nav-links {
    display: flex;
  }
  .page-numbers {
    padding: 10px;
    text-decoration: none;
    &.current {
      color: $navy;
    }
  }
  .prev,
  .next {
    display: inline-flex;
    align-items: center;
    font-weight: $regular;
  }
  .prev i {
    margin-right: 3px;
  }
  .next i {
    margin-left: 3px;
  }
}
