/* ==========================================================================
   Text & Typography
   ========================================================================== */

a {
  @include transition;
  color: $link-color;
  cursor: pointer;
  &:hover,
  &:focus {
    color: darken($link-color, 15%);
  }
}

p,
li {
  @include font-size(1.6, 2.2);
  font-family: $barlow;
  font-weight: $regular;
}

blockquote {
  @include font-size(3.6, 4.9);
  position: relative;
  font-family: $barlow-condensed;
  font-weight: $semibold;
  font-style: italic;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #787878;
  em {
    color: $green;
  }
  cite {
    @include font-size(1.4, 1.8);
    display: block;
    margin: 53px 0;
    font-weight: $semibold;
    font-style: normal;
  }

  &:before {
    content: "“";
    position: absolute;
    right: calc(100% + 10px);
    font-size: 60px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $barlow-condensed;
  text-transform: uppercase;
}

h1 {
  @include font-size(5.5, 6);
  font-weight: $bold;
  letter-spacing: 1px;
}
h2 {
  @include font-size(3.8, 4.6);
  font-weight: $semibold;
  letter-spacing: 0.5px;
}
h3 {
  @include font-size(2.8, 3.4);
  font-weight: $semibold;
  letter-spacing: 0.5px;
}
h4 {
  @include font-size(2.1, 2.5);
  font-weight: $semibold;
  letter-spacing: 1px;
}
h6 {
  @include font-size(1.8, 2.2);
  font-weight: $medium;
  letter-spacing: 0.5px;
}
