/* ==========================================================================
   WYSIWYG Blocks
   ========================================================================== */

.wysiwyg,
body#tinymce {
  text-align: left;

  strong {
    @include font-size(1.6, 2.3);
    font-family: $barlow-condensed;
    font-weight: $medium;
    letter-spacing: 1px;
  }

  // Links
  a {
    text-decoration: none;
  }

  // Lists
  ul:not(.gform_fields),
  ol {
    position: relative;
    margin-left: 25px;
    padding: 8px 0;
    li {
      position: relative;
      padding: 3px 0;
      list-style: none;
      ul:not(.gform_fields) {
        padding: 8px 0 0;
        li {
          padding: 5px 0;
        }
      }
    }
  }
  ul:not(.gform_fields) li {
    list-style: disc;
    ul:not(.gform_fields) li {
      list-style: circle;
    }
  }
  ol li {
    list-style: decimal;
  }

  // Blockquote
  blockquote {
    position: relative;
    max-width: 800px;
    margin: 25px 0;
    padding: 0 0 0 30px;
    border-left: 4px solid $dark-color;
    background: $light-color;
    color: #999;
    font-style: italic;
    p {
      display: block;
      position: relative;
      z-index: 2;
      text-align: left;
      color: $dark-color;
    }
    p:first-of-type {
      padding-top: 5px;
    }
    p:last-of-type {
      padding-bottom: 5px;
    }
    @include respond-to($mobile-width) {
      padding-left: 20px;
    }
  }

  // HR
  hr {
    margin: 15px auto;
    border-top: 1px solid $light-color;
  }

  // Captioned Images
  .wp-caption {
    max-width: 100%;
    position: relative;
    padding-top: 0;
    border: 0;
    img {
      display: block;
      width: 100%;
      margin: 0;
    }
    .wp-caption-text {
      @include font-size(1.3, 1.6);
      @include titleize;
      display: block;
      margin: 0 auto;
      padding: 12px 8px;
      text-align: left;
      color: $textgray;
      letter-spacing: 0.5px;
    }
  }

  // Wordpress Aligns
  .alignnone {
    margin: 20px 20px 20px 0;
  }
  .aligncenter,
  div.aligncenter {
    display: block;
    margin: 20px auto 20px auto;
  }
  .alignright {
    float: right;
    margin: 20px 0 20px 20px;
  }
  .alignleft {
    float: left;
    margin: 20px 20px 20px 0;
  }
  .aligncenter {
    display: block;
    margin: 20px auto;
  }
  a img.alignright {
    float: right;
    margin: 20px 0 20px 20px;
  }
  a img.alignnone {
    margin: 20px 20px 20px 0;
  }
  a img.alignleft {
    float: left;
    margin: 20px 20px 20px 0;
  }
  img.alignleft-featured {
    float: left;
    margin: 20px 20px 20px 0 !important;
  }
  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
