/* ==========================================================================
   Flex Content: Board List
   ========================================================================== */
section.module-type-board-honoree-list {
  //need to align these centered with flexbox because of the negative margin
  & > .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .board-list {
    list-style: none;
    max-width: 908px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -22px -14px;
  }
  .list-member {
    padding: 8px 0 14px;
    width: calc(33% - 44px);
    margin: 0 22px;
    text-align: left;
    @include respond-to(700px) {
      width: calc(50% - 44px);
    }
    a {
      text-decoration: none;
      &:hover,
      &:focus {
        h3 {
          color: $green;
        }
      }
    }
    h3 {
      @include transition;
      @include font-size(2.1,2.5);
      font-weight: $semibold;
      letter-spacing: .5px;
      padding: 8px 0 0;
    }
    .subhead {
      @include font-size(1.3,2.1);
      font-family: $zilla;
      color: $navy;
      padding: 0;
    }
    .desc {
      @include font-size(1.3,1.8);
      color: $textgray;
      padding: 0;
    }
  }
}
