.module-type-cta-box {
  & > .container {
    //pos over image cover
    z-index: 3;
  }
  .module-header {
    //subheading has -5px margin: 30 - 5 = 25desired spacing
    margin-bottom: 30px;
  }
  .module-subheading {
    font-weight: $medium;
  }
  .buttons {
    text-align: center;
  }
  //This should only be a form with 1 input and a submit
  form {
    position: relative;
    max-width: 433px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .dollar-sign {
      position: absolute;
      left: 16px;
      font-family: $barlow-condensed;
      top: 1.4rem;
      transform: translateY(-50%);
    }
    .donation-number{
      width: calc(100% - 139px);
      margin-right: -2px;
      @include font-size(1.4,1.6);
      border: none !important;
      background: rgba(#000, .3);
      border-radius: 2px 0 0 2px;
      padding-right: 141px;
      letter-spacing: .5px;
      padding: 7px 5px 7px 29px;
      @include placeholder {
        color: #fff;
      }
    }
    .donation-submit {
      @include font-size(1.4,1.6);
      padding: 6px 20px;
      letter-spacing: .5px;
      width: 141px;
      text-align: center;
      display: block;
    }
  }
  @include respond-to(500px) {
    form {
      max-width: 233px;
      .donation-number,
      .donation-submit {
        width: 100%;
      }
      .dollar-sign {
        left: 30%;
        top: 2.5rem;
      }
      .donation-number {
        margin-right: 0;
        margin-bottom: -2px;
        @include font-size(1.8,2.2);
        text-align: left;
        padding: 13px 5px 13px 33%;
        border-radius: 2px 2px 0 0;
      }
    }
  }
}
