/* ==========================================================================
   Flex Content: Events
   ========================================================================== */
section.module-type-events {
  .events-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 -25px -30px;
    list-style: none;
    flex-wrap: wrap;
  }
  .events-list-item {
    width: calc(33% - 50px);
    min-width: 300px;
    margin: 0 25px 30px;
    text-align: center;
    .date {
      @include font-size(5.5,5.5);
      letter-spacing: .5px;
      font-family: $barlow-condensed;
      font-weight: $bold;
      text-transform: uppercase;
      color: $navy;
    }
    .title {
      @include font-size(2.1,2.5);
      font-weight: $semibold;
      letter-spacing: 1px;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 15px;
      &:after {
        content: '';
        height: 3px;
        width: 69px;
        position: absolute;
        display: block;
        background-color: $green;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .venue {
      @include font-size(1.6,1.7);
      text-transform: uppercase;
      font-family: $barlow-condensed;
      letter-spacing: .71px;
      color: $navy;
      font-weight: $medium;
      display: block;
      padding-top: 0;
    }
    .location {
      @include font-size(1.4,1.8);
      color: $textgray;
      display: block;
      font-weight: $semibold;
      font-family: $barlow-condensed;
    }
    a {
      text-decoration: none;
      font-weight: $bold;
      color: $blue;
      text-transform: uppercase;
      font-family: $barlow-condensed;
      font-weight: $medium;
      letter-spacing: 1px;
      &:hover,
      &:focus {
        color: $green;
      }
    }
  }
  @include respond-to(710px) {
    .events-list-item {
      width: 100%;
      .content {
        max-width: 300px;
        margin: 0 auto;
      }
      &:not(:last-of-type) {
        padding-bottom: 50px;
        margin-bottom: 40px;
        border-bottom: 1px solid $chromegray;
      }
    }
  }
}
