/* ==========================================================================
   Flex Content: Featured Story
   ========================================================================== */
section.module-type-featured-story {
  padding-top: 0;
  padding-bottom: 0;
  .featured-story {
    color: #FFF;
    min-height: 680px;
    padding-bottom: 94px;
    padding-top: 77px;
    display: flex !important;
    align-items: center;
    position: relative;
    .pseudo-container {
      z-index: 2; //position above overlays
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }
    .text {
      width: 55%;
      img {
        max-height: 60px;
        width: auto;
        margin-bottom: 19px;
      }
      .prehead {
        @include font-size(1.6,1.7);
        font-family: $barlow-condensed;
        letter-spacing: .71px;
        font-weight: $medium;
        text-transform: uppercase;
        display: block;
        padding-bottom: 12px;
      }
      h2 {
        @include font-size(5.5,6);
        font-family: $barlow-condensed;
        font-weight: $bold;
      }
      p {
        @include font-size(1.6,2.6);
        max-width: 524px;
        font-weight: $medium;
      }
      .buttons {
        padding-top: 40px;

      }
    }
    //bg colors
    .bg-blue {
      background-color: $navy;
    }
    .bg-green {
      background-color: darken($green, 15%);
    }
    //overlays
    .cover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .overlay-green {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: url('../img/left-green-overlay.svg') right center/cover no-repeat;
        width: 63%;
        z-index: 0;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: url('../img/right-green-overlay.svg') right center/cover no-repeat;
        width: 69%;
        z-index: 0;
      }
      //if no bg image, add this class and alter the widths
      &.bg-green {
        &:before {
          width: 48%;
        }
        &:after {
          width: 54%;
        }
        .text {
          width: 75%;
        }
      }
    }
    .overlay-blue {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: url('../img/left-blue-overlay.svg') right center/cover no-repeat;
        width: 63%;
        z-index: 0;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: url('../img/right-blue-overlay.svg') right center/cover no-repeat;
        width: 69%;
        z-index: 0;
      }
      //if no bg image, add this class and alter the widths
      &.bg-blue {
        &:before {
          width: 48%;
        }
        &:after {
          width: 54%;
        }
        .text {
          width: 75%;
        }
      }
    }
    @include respond-to(650px) {
      min-height: 0;
      padding-top: 250px;
      padding-bottom: 0;
      align-items: stretch;
      .cover {
        bottom: calc(100% - 250px);
        z-index: 3;
      }
      .pseudo-container {
        background-color: $navy;
        padding-bottom: 94px;
        padding-top: 55px;
      }
      .text {
        width: 100%;
      }
      .overlay-blue,
      .overlay-green {
        &:before {
          width: 40%;
        }
        &:after {
          width: 49%;
        }
        &.bg-blue,
        &.bg-green {
          &:before {
            width: 40%;
          }
          &:after {
            width: 49%;
          }
          .text {
            width: 100%;
          }
        }
      }
      .overlay-blue + .pseudo-container {
        background-color: $navy;
      }
      .overlay-green + .pseudo-container {
        background-color: darken($green, 15%);
      }
    }
  }
  .story-dots {
    position: absolute;
    bottom: 86px;
    .slick-dots {
      display: flex;
      list-style: none;
      margin: 0 -6.5px;
      li {
        margin: 0 6.5px;
        button {
          @include transition;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          font-size: 0;
          padding: 0;
          background-color: #FFF;
        }
        &:hover,
        &:focus {
          button {
            background-color: $green;
          }
        }
        &.slick-active {
          button {
            background-color: $navy;
          }
        }
      }
    }
  }
}
