/* ==========================================================================
   Module Global Styles
   ========================================================================== */

section.content,
section.module {
  position: relative;
  padding: 80px 0;

  // horizontal line between two sequential light background blocks
  &.bg-white + .bg-white,
  &.bg-lightgray + .bg-lightgray,
  &.bg-white + a.anchor + .bg-white,
  &.bg-lightgray + a.anchor + .bg-lightgray {
    &:before {
      @include align(horizontal);
      bottom: 100%;
      height: 1px;
      width: 1077px;
      max-width: calc(100vw - 80px);
      margin: 0 auto;
      background: $chromegray;
      content: "";
    }
  }
  // But not on anything with a top edge bleed
  &.vertical-edge-bleed:before,
  &.top-edge-bleed:before {
    display: none !important;
  }
  // And not when after an edge bleed that had the light bg class
  // most cases edge bleeding blocks won't have a bg class,
  // but because of options, some might
  &.vertical-edge-bleed,
  &.bottom-edge-bleed {
    & + .bg-white,
    & + .bg-lightgray,
    & + a.anchor + .bg-white,
    & + a.anchor + .bg-lightgray {
      &:before {
        display: none;
      }
    }
  }

  // vertical edge bleed classes
  &.vertical-edge-bleed {
    padding: 0;
  }
  &.bottom-edge-bleed {
    padding-bottom: 0;
  }
  &.top-edge-bleed {
    padding-top: 0;
  }
}

.module-header {
  max-width: 822px;
  margin: 0 auto 70px;
  text-align: center;
  @include respond-to($tablet-width) {
    margin: 0 auto 50px;
  }
}

.module-heading {
  margin: -11px 0;
  padding: 0;
}

.module-subheading {
  //alone
  margin: -5px 0 -5px;
  padding: 0;
}

.module-heading + .module-subheading {
  margin: 20px 0 -5px;
}

.module-footer {
  text-align: center;
  margin-top: 40px;
}
