/* ==========================================================================
   Flex: Gravity Form
   ========================================================================== */

.module-type-gravity-form {
  padding: 0 !important;
  background: $navy;
  color: white;

  & > .container {
    display: flex;
    align-items: stretch;
  }

  .left-col {
    width: 400px;
    flex-shrink: 0;
    position: relative;
    padding: 80px 40px 80px 0;
  }

  .cover {
    left: -50vw;
  }

  .text {
    position: relative;
    z-index: 3;
  }

  .right-col {
    padding: 80px 0 80px 50px;
  }

  @include respond-to(1050px) {
    .left-col {
      width: 325px;
    }
  }

  @include respond-to(900px) {
    & > .container {
      flex-wrap: wrap;
    }
    .left-col {
      width: 100%;
      padding-right: 0;
      padding-bottom: 40px;
      .cover {
        right: -30px;
      }
    }
    .right-col {
      padding-left: 0;
      padding-top: 25px;
    }
  }

  @include respond-to-ie {
    .right-col {
      width: calc(100% - 400px);
      @include respond-to(1080px) {
        width: calc(100% - 500px); //bad math works?
      }
    }
  }
}
