/* ==========================================================================
   Module: Icon Block
   ========================================================================== */
.module-type-icon {
  //BG Angles
  &.bg-navy {
    position: relative;
    &:before {
      content: "";
      background: url(../img/angle-bg-logo-left.svg) left center/cover no-repeat;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      width: 36%;
    }
    &:after {
      content: "";
      background: url(../img/angle-bg-logo-right.svg) left center/cover
        no-repeat;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      width: 29.5%;
    }
    .grid-icon {
      justify-content: flex-start;
    }
    .grid-icon-prev-arrow,
    .grid-icon-next-arrow,
    .slider-icon-prev-arrow,
    .slider-icon-next-arrow {
      color: #fff;
      &:hover,
      &:focus {
        color: $green;
      }
    }
    @include respond-to(600px) {
      &:before {
        width: 60%;
      }
      &:after {
        width: 45%;
      }
    }
  }

  // PREV AND NEXT ARROWS
  .grid-icon-prev-arrow,
  .grid-icon-next-arrow,
  .slider-icon-prev-arrow,
  .slider-icon-next-arrow {
    @include font-size(4.2, 99);
    color: $blue;
    width: 37px;
    position: relative;
    z-index: 1; //to position above slick track for clickability
    &:hover,
    &:focus {
      color: $green;
      cursor: pointer;
    }
  }

  // GRID VIEW
  .grid-icon-wrapper {
    display: flex;
    align-items: center;
    .grid-icon-prev-arrow,
    .grid-icon-next-arrow {
      display: none;
    }

    @include respond-to(600px) {
      justify-content: center;
      .grid-icon-prev-arrow,
      .grid-icon-next-arrow {
        display: block;
        &.slick-hidden {
          display: none;
        }
      }
    }
  }

  .grid-icon {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    li {
      width: calc(100% / 6);
      border-right: 2px solid rgba(#fff, 0.2);
      border-bottom: 2px solid rgba(#fff, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 23px 40px;
      img {
        max-height: 56px;
        width: auto;
      }
      //top row
      &:nth-of-type(-n + 6) {
        // border-top: 0;
        padding-bottom: 13px;
      }
      //left column
      &:nth-of-type(6n + 1) {
        // border-left: 0;
      }
      //right column
      &:nth-of-type(6n + 6) {
        border-right: 0;
      }

      &:last-of-type {
        border-right: 0;
      }
    }
    //special cases
    //single row
    &.single-row {
      justify-content: center;
    }
    //leftover grid items
    // left over is icons count % 6
    $leftover: "0" "1" "2" "3" "4" "5";
    $row: "6" "1" "2" "3" "4" "5";

    @for $i from 1 through length($leftover) {
      &.leftover-#{nth($leftover, $i)} {
        //last row
        li:nth-last-of-type(-n + #{nth($row, $i)}) {
          border-bottom: 0;
          padding-top: 13px;
        }
      }
    }
  }

  // GRID VIEW RESPONSIVE

  // collapse to 3 rows
  @include respond-to(1080px) {
    .grid-icon {

      li {
        width: calc(100% / 3);
        min-height: 82px;

        img {
          max-width: 100px;
        }
      }
      //clear col styles
      $leftover: "0" "1" "2" "3" "4" "5";
      $row: "6" "1" "2" "3" "4" "5";
      @for $i from 1 through length($leftover) {
        &.leftover-#{nth($leftover, $i)} {
          //top row
          li:nth-of-type(-n + 6) {
            border-right: 2px solid rgba(#fff, 0.2);
            border-bottom: 2px solid rgba(#fff, 0.2);
            padding-bottom: 23px;
          }
          //left column
          li:nth-of-type(6n + 1) {
            border-right: 2px solid rgba(#fff, 0.2);
            border-bottom: 2px solid rgba(#fff, 0.2);
          }
          //right column
          li:nth-of-type(6n + 6) {
            border-right: 2px solid rgba(#fff, 0.2);
            border-bottom: 2px solid rgba(#fff, 0.2);
          }

          //last row
          li:nth-last-of-type(-n + #{nth($row, $i)}) {
            border-right: 2px solid rgba(#fff, 0.2);
            border-bottom: 2px solid rgba(#fff, 0.2);
            padding-top: 23px;
          }
        }
      }


      //last row
      &.leftover-0,
      &.leftover-3 {
        //top row
        li:nth-of-type(-n + 3) {
          padding-bottom: 23px;
        }
        //left column
        li:nth-of-type(3n + 1) {
        }
        //right column
        li:nth-of-type(3n + 3) {
          border-right: 0px solid rgba(#fff, 0.2);
        }
        li:nth-last-of-type(-n + 3) {
          border-bottom: 0;
          padding-top: 13px;
        }
      }
      &.leftover-2,
      &.leftover-5 {
        //top row
        li:nth-of-type(-n + 3) {
          padding-bottom: 23px;
        }
        //left column
        li:nth-of-type(3n + 1) {
        }
        //right column
        li:nth-of-type(3n + 3) {
          border-right: 0px solid rgba(#fff, 0.2);
        }
        li:nth-last-of-type(-n + 2) {
          border-bottom: 0;
          padding-top: 13px;
        }
      }
      &.leftover-1,
      &.leftover-4 {
        //top row
        li:nth-of-type(-n + 3) {
          padding-bottom: 23px;
        }
        //left column
        li:nth-of-type(3n + 1) {
        }
        //right column
        li:nth-of-type(3n + 3) {
          border-right: 0px solid rgba(#fff, 0.2);
        }
        li:nth-last-of-type(-n + 1) {
          border-bottom: 0;
          padding-top: 13px;
        }
      }
    }
  }

  // grid becomes slider on mobile
  @include respond-to(600px) {
    .grid-icon {
      max-width: calc(100% - 74px);

      li {
        display: inline-flex !important; //override inline js styles
        border: 0 !important;
        padding-left: 0;
        padding-right: 0;
        img {
          max-width: 165px;
        }
      }
    }
  }

  // cross-browser: IE sucks
  @include respond-to-ie {
    .grid-icon {
      width: 1060px;

      li img {
        max-width: 100px;
      }

      @include respond-to(1080px) {
        width: 780px;
      }
    }
  }

  // SLIDER VIEW
  .slider-icon-wrap {
    display: flex;
    align-items: center;
    .slider-icon {
      max-width: calc(100% - 74px);
      margin: 0 auto;
      .slick-slide {
        width: 160px;
        flex-shrink: 0;
      }
      li {
        text-align: center;

        img {
          margin: 0 auto;
          max-width: 44px;
        }
        .label {
          @include font-size(1.6, 1.7);
          text-transform: uppercase;
          color: $navy;
          font-family: $barlow-condensed;
          font-weight: $medium;
          letter-spacing: 0.71px;
          display: block;
          margin-top: 14px;
        }
      }
      @include respond-to(600px) {
        .slick-slide {
          div + div {
            margin-top: 10px;
          }
        }
      }
    }
    .slick-track {
      display: flex;
      align-items: center;
    }
  }
}
