/* ==========================================================================
   Flex: iFrame
   ========================================================================== */
.module-type-iframe {
  & > .container {
    text-align: center;
  }
}
