/* ==========================================================================
   Flex: Intro Text && reused for Search Results and Volunteer Search Results
   ========================================================================== */

.module-type-intro-text,
.module-type-search-result {
  .columns-one {
    text-align: center;

    .wysiwyg {
      text-align: center;
    }

    li {
      text-align: left;
    }
  }

  .columns-two {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
  }

  .left-col {
    width: 340px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .columns-two .main-col {
    flex-grow: 1;
    padding-left: 26px;

    .wysiwyg {
      p {
        @include font-size(1.8, 2.8);
        color: $navy;
      }
      strong {
        font-family: $barlow;
        font-weight: bold;
      }
      ul,
      ol {
        margin-left: 19px;
      }
      li {
        strong {
          color: $green;
          font-weight: $regular;
        }
        &:before {
          content: "\2022";
          color: $green;
          font-weight: bold;
          display: inline-block;
          font-size: 17px;
          width: 17px;
          margin-left: -17px;
        }
      }
    }
  }

  .col-type-text,
  .col-type-event {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: calc(100% + 15px);
      height: 100%;
      width: 1px;
      background: $chromegray;
    }
  }

  .left-text {
    @include font-size(2.1, 2.9);
    font-family: $barlow-condensed;
    font-weight: $medium;
    color: $green;
    text-transform: uppercase;
  }

  .left-image {
    display: flex;
    justify-content: flex-end;
  }

  .main-heading,
  .left-heading {
    margin-top: -10px;
    padding-top: 0;
  }
  .main-heading {
    padding-bottom: 6px;
  }
  .left-heading {
    padding-bottom: 16px;
    &.date {
      text-transform: none;
    }
  }

  .event-content {
    text-align: right;
    margin-right: 18px;
  }
  .event-details,
  .event-meta {
    @include titleize;
    @include font-size(2.4, 3);
    font-weight: $medium;
    letter-spacing: 0.2px;
  }
  .event-details {
    color: $navy;
  }
  .event-img {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin: 10px 0;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }
  .event-meta {
    color: $green;
  }

  @include respond-to(1000px) {
    .columns-two {
      flex-wrap: wrap;
      flex-direction: row;
    }
    .left-col {
      order: 1;
      max-width: 100%;
      margin-right: 0;
      &.col-type-text,
      &.col-type-event {
        &:after {
          content: none;
        }
      }
    }
    .left-image {
      justify-content: flex-start;
    }
    .columns-two .main-col {
      order: 2;
      padding-left: 0;
      padding-top: 30px;
      width: 100%;
    }
    .col-type-event .event-content {
      text-align: left;
      .event-img {
        justify-content: flex-start;
      }
    }
  }
}
