/* ==========================================================================
   Flex: Large Image
   ========================================================================== */

section.module-type-large-image {
  @include respond-to($container-inner-width) {
    div.image-wrap {
      width: calc(100% + 60px);
      margin-left: -30px;
    }
  }
}
