/* ==========================================================================
   Flex Content: Office Locations
   ========================================================================== */
section.module-type-locations {
  .office-locations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px -40px;
    .office-location {
      width: calc(33% - 20px);
      min-width: 340px;
      max-width: 100%;
      margin: 0 10px 40px;
      .acf-map {
        width: 100%;
        height: 227px;
        margin-bottom: 40px;
      }
      h3 {
        @include font-size(2.2,2.9);
        font-family: $zilla;
        font-weight: $semibold;
        text-transform: uppercase;
      }
      a {
        @include font-size(1.4,2.1);
        color: inherit;
        text-decoration: none;
        font-family: $barlow;
        font-weight: $medium;
        &:hover,
        &:focus {
          color: $blue;
        }
      }
      @include respond-to(1000px) {
        text-align: center;
        .acf-map {
          margin-bottom: 15px;
        }
        h3 {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
