/* ==========================================================================
   Flex Content: Product Grid
   ========================================================================== */
section.module-type-product-grid {
  .product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px -20px;
    &.align-center {
      .product-grid-item {
        text-align: center;
      }
      .product-grid-link {
        .learn-more {
          justify-content: center;
          &:before {
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .product-grid-text-link {
        .learn-more {
          justify-content: center;
          &:before {
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    &.align-left {
      .product-grid-item {
        h3 {
          &:after {
            left: 0;
            transform: translateX(0)
          }
        }
      }
      .product-grid-link {
        .learn-more {
          justify-content: flex-start;
          &:before {
            left: 0%;
          }
        }
      }
    }
    //With BG Colors
    &.display-with-bg-image {
      .product-grid-item {
        padding: 40px 25px 50px 40px;
        .content {
          color: #FFF;
          position: relative;
          border-radius: 2px;
          h3 {
            color: #fff;
            &:after {
              background-color: $green;
            }
          }
          .learn-more {
            &:hover,
            &:focus {
              color: $green;
              i {
                color: $green;
              }
            }
          }
        }
      }
      .product-grid-link {
        .content {
          h3,
          p {
            @include transition;
            color: #FFF;
          }
          .learn-more {
            color: #FFF;
          }
        }
        &:hover,
        &:focus {
          .content {
            i {
              color: $blue
            }
            h3,
            p {
              color: $blue;
            }
            .learn-more {
              color: $blue;
              i {
                color: $blue;
                transform: translateX(6px);
              }
              &:before {
                background-color: $blue;
              }
            }
          }
        }
      }
    }
    &.display-no-bg {
      .product-grid-text-link {
        .content {
          .learn-more {
            padding-top: 0;
            color: $blue;
            i {
              color: $blue;
            }
            //hide bar if no bg, there is a bar after the headline
            &:before {
              content: none;
            }
            &:hover,
            &:focus {
              color: $green;
              i {
                color: $green;
              }
            }
          }
          i + h3 {
            &:after {
              content: '';
            }
          }
        }
      }
    }
    .product-grid-link {
      text-decoration: none;
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      padding: 40px 25px 50px 40px;
      i + h3 {
        &:after {
          content: none !important;
        }
      }
      .learn-more {
        @include transition;
        @include font-size(1.4,1.7);
        font-family: $barlow-condensed;
        padding-top: 20px;
        letter-spacing: 1.05px;
        display: flex;
        align-items: center;
        position: relative;
        text-transform: uppercase;
        i {
          @include transition;
          @include font-size(1.4,1.7);
          display: inline-block;
          transform: translateX(2px);
          vertical-align: middle;
          color: #FFF;
        }
        &:before {
          @include transition;
          content: '';
          background-color: $green;
          width: 65px;
          height: 3px;
          position: absolute;
          display: block;
          top: 0;
        }
        //hover handle in the background color block
      }
    }
    .product-grid-item {
      width: calc(33% - 20px);
      margin: 0 10px 20px;
      position: relative;
      max-width: 340px;
      min-width: 310px;
      @include respond-to(370px) {
        width: 100%;
        min-width: 0;
        max-width: 100%;
      }
      i {
        @include font-size(5.2,99);
      }
      //different sizing if icon present
      i + h3 {
        @include font-size(2.1,2.5);
        letter-spacing: 1px;
        position: relative;
        &:after {
          content: '';
          width: 105px;
          height: 3px;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: $navy;
        }
      }
      p {
        @include font-size(1.4,2.1);

      }
      .learn-more {
        @include transition;
        @include font-size(1.4,1.7);
        font-family: $barlow-condensed;
        padding-top: 20px;
        letter-spacing: 1.05px;
        display: flex;
        align-items: center;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFF;
        i {
          @include transition;
          @include font-size(1.4,1.7);
          display: inline-block;
          transform: translateX(2px);
          vertical-align: middle;
          color: #FFF;
        }
        &:before {
          @include transition;
          content: '';
          background-color: $green;
          width: 65px;
          height: 3px;
          position: absolute;
          display: block;
          top: 0;

        }
        &:hover,
        &:focus {
          color: $blue;
          i {
            color: $blue;
            transform: translateX(6px);
          }
        }
      }
      .cover {
        background-color: $navy;
        overflow: hidden;
        z-index: 0;
        border-radius: 2px;
        img {
          mix-blend-mode: luminosity;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          opacity: .15;
          height: 100%;
          width: auto;
          object-fit: cover;
        }
      }
      &.product-grid-text-link {
        i + h3 {
          &:after {
            content: none;
          }
        }
      }
      &.accent-green {
        i {
          color: $green;
        }
        h3:after {
          background-color: $green;
        }
      }
      &.accent-blue {
        i {
          color: $blue;
        }
        h3:after {
          background-color: $blue;
        }
      }
      &.accent-orange {
        i {
          color: $orange;
        }
        h3:after {
          background-color: $orange;
        }
      }
      &.accent-navy {
        i {
          color: $navy;
        }
        h3:after {
          background-color: $navy;
        }
      }
      &.accent-darkblue {
        i {
          color: $darkblue;
        }
        h3:after {
          background-color: $darkblue;
        }
      }
      &.accent-brown {
        i {
          color: $brown;
        }
        h3:after {
          background-color: $brown;
        }
      }
      &.accent-darkgray {
        i {
          color: $darkgray;
        }
        h3:after {
          background-color: $darkgray;
        }
      }
      &.accent-pink {
        i {
          color: $pink;
        }
        h3:after {
          background-color: $pink;
        }
      }
    }
  }
}
