/* ==========================================================================
   Flex: Related Content (resources, press releases, blog posts)
   ========================================================================== */

.module-type-related-content > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.related-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  h2 {
    padding: 0;
    margin-bottom: 46px;
  }

  .button {
    margin: 5px 0 50px auto;
  }

  &.centered {
    justify-content: center;
    width: 100%;
  }
}
.related-content-cta {
  width: 30%;
  text-align: right;
}

.related-content-grid {
  width: 100%;
  display: grid;
  margin: -11.5px -10px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .card {
    margin: 11.5px 10px;
    width: auto;
    &.huge {
      grid-column-start: 1;
      grid-column: 1 / 3;
      grid-row-start: 1;
      grid-row: 1 / 3;
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 2;
      @include respond-above(850px) {
        img {
          height: $img-lg;
        }

        .text {
          padding: 40px;
        }

        .post-type {
          @include titleize;
          @include font-size(1.6, 2.1);
          margin-bottom: 10px;
          letter-spacing: 0.71px;
          font-weight: $regular;
        }

        .title {
          @include font-size(2.4, 2.4);
        }
      }
    }
    &:nth-of-type(2) {
      grid-column-start: 3;
      grid-column: 3 / 4;
      grid-row-start: 1;
      grid-row: 1 / 2;
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
    }
    &:nth-of-type(3) {
      grid-column-start: 4;
      grid-column: 4 / 5;
      grid-row-start: 1;
      grid-row: 1 / 2;
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
    }
    &:nth-of-type(4) {
      grid-column-start: 3;
      grid-column: 3 / 4;
      grid-row-start: 2;
      grid-row: 2 / 3;
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
    }
    &:nth-of-type(5) {
      grid-column-start: 4;
      grid-column: 4 / 5;
      grid-row-start: 2;
      grid-row: 2 / 3;
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
    }
  }
  @include respond-to($container-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .card {
      &.huge {
        grid-column-start: 1;
        grid-column: 1 / 3;
        grid-row-start: 1;
        grid-row: 1 / 3;
        -ms-grid-column-span: 2;
        -ms-grid-row-span: 2;
      }
      &:nth-of-type(2) {
        grid-column-start: 3;
        grid-column: 3 / 4;
        grid-row-start: 1;
        grid-row: 1 / 2;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
      &:nth-of-type(3) {
        grid-column-start: 3;
        grid-column: 3 / 4;
        grid-row-start: 2;
        grid-row: 2 / 3;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
      &:nth-of-type(4) {
        grid-column-start: 1;
        grid-column: 1 / 2;
        grid-row-start: 3;
        grid-row: 3 / 4;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
      &:nth-of-type(5) {
        grid-column-start: 2;
        grid-column: 2 / 3;
        grid-row-start: 3;
        grid-row: 3 / 4;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
    }
  }
  @include respond-to(850px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .card {

      &.huge {
        grid-column-start: 1;
        grid-column: 1 / 3;
        grid-row-start: 1;
        grid-row: 1 / 3;
        -ms-grid-column-span: 2;
        -ms-grid-row-span: 2;
      }
      &:nth-of-type(2) {
        grid-column-start: 1;
        grid-column: 1 / 2;
        grid-row-start: 3;
        grid-row: 3 / 4;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
      &:nth-of-type(3) {
        grid-column-start: 2;
        grid-column: 2 / 3;
        grid-row-start: 3;
        grid-row: 3 / 4;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
      &:nth-of-type(4) {
        grid-column-start: 1;
        grid-column: 1 / 2;
        grid-row-start: 4;
        grid-row: 4 / 5;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
      &:nth-of-type(5) {
        grid-column-start: 2;
        grid-column: 2 / 3;
        grid-row-start: 4;
        grid-row: 4 / 5;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
    }
  }
  @include respond-to(580px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    .card {
      //all one column
      &.huge,
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        grid-column-start: 1;
        grid-column: 1 / 2;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }
      &.huge {
        grid-row-start: 1;
        grid-row: 1 / 2;
      }
      &:nth-of-type(2) {
        grid-row-start: 2;
        grid-row: 2 / 3;
      }
      &:nth-of-type(3) {
        grid-row-start: 3;
        grid-row: 3 / 4;
      }
      &:nth-of-type(4) {
        grid-row-start: 4;
        grid-row: 4 / 5;
      }
      &:nth-of-type(5) {
        grid-row-start: 5;
        grid-row: 5 / 6;
      }
    }
  }
}

.related-content-footer {
  margin-top: 48px;
  text-align: center;
  width: 100%;
}

@include respond-to(600px) {
  .related-content-header {
    order: 1;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .card-grid-wrapper {
    order: 2;
  }
  .related-content-cta {
    order: 3;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .related-content-footer {
    order: 4;
  }
}

// yarpp-specific
.yarpp-related {
  margin: 0 !important;
  .related-content-header {
    h2 {
      margin-bottom: 21px;
    }
    .button {
      margin-bottom: 25px;
    }
  }
  .module-type-related-content {
    padding-top: 0;
  }
}
