/* ==========================================================================
   Flex: Spotlight Person
   ========================================================================== */

.module-type-spotlight-person {
  padding: 0 !important;
  background: $navy;
  color: white;

  & > .container {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  .module-header {
    width: 312px;
    flex-shrink: 0;
    position: relative;
    padding: 80px 40px 80px 0;
    position: relative;
    text-align: left;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    h2,
    p {
      position: relative;
      z-index: 2; // set on top of :after cover
      width: 100%;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      width: 50vw;
      background-color: rgba(#000, 0.25);
      z-index: 1; //set below header text
    }
  }

  .spotlight-person {
    padding: 80px 0 80px 50px;
    display: flex;
    align-items: center;
    .image {
      width: 200px;
      flex-shrink: 0;
      max-width: 100%;
    }
    .content {
      margin-left: 35px;
      .name {
        @include font-size(2.5, 3);
        letter-spacing: 1px;
        font-family: $barlow-condensed;
        padding: 0 0 10px;
      }
      .title {
        @include font-size(1.8, 1.8);
        font-family: $zilla;
        text-transform: none;
        padding: 0;
        font-weight: normal;
        letter-spacing: normal;
      }
      .wysiwyg {
        padding-top: 13px;
        p {
          @include font-size(1.6, 2.6);
        }
      }
    }
  }
  @include respond-to(1000px) {
    & > .container {
      flex-wrap: wrap;
    }
    .module-header {
      width: 100%;
      padding: 80px 0 40px;
      &:after {
        width: 100vw;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .spotlight-person {
      padding: 40px 0 80px;
    }
  }
  @include respond-to(575px) {
    .spotlight-person {
      flex-wrap: wrap;
      .content {
        width: 100%;
        margin-left: 0;
        padding-top: 35px;
      }
    }
  }
}
