/* ==========================================================================
   Flex: Stat Boxes
   ========================================================================== */

.module-type-stat-boxes > .container {
  max-width: none;
  padding: 0;
  .module-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.stat-boxes {
  background-size: cover;
  background-position: center;

  &.background-image {
    .stat-box:not(:last-of-type) {
      border-right: 1px solid #fff;
    }
    @include respond-to($tablet-width) {
      .stat-box {
        &:not(:last-of-type) {
          border: 0;
        }
        &:nth-of-type(2n + 1) {
          border-right: 1px solid #fff;
        }
        &:nth-of-type(-n + 2) {
          border-bottom: 1px solid #fff;
        }
      }
    }
    @include respond-to($mobile-width-tiny) {
      .stat-box:nth-of-type(2n + 1) {
        border-bottom: 1px solid #fff;
        border-right: 0;
      }
    }
  }

  &.background-color .stat-box {
    position: relative;

    .text {
      font-weight: $medium;
    }

    &:after {
      @include align(vertical);
      left: 100%;
      width: 1px;
      height: 135px;
      content: "";
      @include respond-to($mobile-width-tiny) {
        @include align(horizontal);
        top: calc(100% + 10px);
        width: 135px;
        height: 1px;
      }
    }
    &:last-of-type:after {
      display: none;
    }
  }
  &.background-color.text-style-light .stat-box:after {
    background: $white;
  }
  &.background-color.text-style-dark .stat-box:after {
    background: $navy;
  }

  &.text-style-light {
    color: $white;

    .number,
    .unit {
      color: $white;
    }

    .cta {
      @include white-hover-blue;
    }

    .accent {
      background: $green;
    }
  }
  &.text-style-dark {
    color: $navy;

    .accent {
      background: $orange;
    }
  }

  & > .container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
}

.stat-box {
  text-align: center;
  padding: 54px 20px 56px;
  width: 25%;
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
  }
  @include respond-to($container-width) {
    padding: 40px 30px;
    &:first-of-type {
      padding-left: 30px;
    }
    &:last-of-type {
      padding-right: 30px;
    }
  }
  @include respond-to($tablet-width) {
    width: 50%;
  }
  @include respond-to($mobile-width-small) {
    padding: 20px 15px;
  }
  @include respond-to($mobile-width-tiny) {
    width: 100%;
  }
  .number {
    @include font-size(10, 12);
    font-weight: $bold;
    letter-spacing: 7.5px;
    @include respond-to($container-width) {
      @include font-size(6, 7.2);
      letter-spacing: 4.5px;
    }
  }

  .unit {
    @include font-size(4, 4.8);
    font-weight: $bold;
    letter-spacing: 3px;
    @include respond-to($container-width) {
      @include font-size(2.5, 3);
      letter-spacing: 1.88px;
    }
  }

  .accent {
    display: block;
    margin: 10px auto;
    height: 5px;
    width: 60px;
  }
  .cta {
    @include font-size(1.4, 2);
    font-family: $barlow-condensed;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: $blue;
    font-weight: $medium;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      @include transition;
      @include font-size(1, 99);
      display: inline-block;
      transform: translateX(4px);
      color: $blue;
    }
    &:hover,
    &:focus {
      color: $green;
      i {
        color: $green;
        transform: translateX(7px);
      }
    }
  }
}
