/* ==========================================================================
    Flex: Team Grid
   ========================================================================== */

   section.module.module-type-team-grid {
     .team-member-grid {
       list-style: none;
       display: flex;
       justify-content: center;
       align-items: stretch;
       margin: 0 -15px -51px;
       flex-wrap: wrap;
     }
     .team-member-card {
       width: calc(20% - 30px);
       max-width: 190px;
       margin: 0 15px 51px;
       @include respond-to(900px) {
         width: calc(33% - 30px);
         margin-bottom: 25px;
       }
       @include respond-to(575px) {
         width: calc(50% - 30px);
       }
       @include respond-to(400px) {
         width: 100%;

       }
       a {
          text-decoration: none;
          &:hover,
          &:focus {
            .zoom-wrap {
              box-shadow:  0px 0px 0px 2px $blue;
            }
            .bg-wrap {
              background-size: 105%;
            }
          }
       }
       .zoom-wrap {
          @include transition;
          width: 190px;
          height: 190px;
          max-width: 100%;
          max-height: 100%;
          //  border: 2px solid transparent;
          overflow: hidden;
          border-radius: 2px;
       }
       .bg-wrap {
          @include transition;
          width: 100%;
          height: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: top center;
          overflow: hidden;
       }
       .name {
          @include font-size(1.8,1.8);
          @include transition;
          font-family: $barlow-condensed;
          color: $navy;
          font-weight: $medium;
          letter-spacing: .8px;
          padding: 11px 0 0;
       }
       .title {
          color: $textgray;
          @include font-size(1.6,2.2);
       }
     }
   }
