/* ==========================================================================
   Flex: Vertical Tabber
   ========================================================================== */

// DESKTOP TABBER MODE
.vertical-tabber {
  display: flex;
  align-items: flex-start;

  .control-group {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
    text-align: right;
    border-right: 2px solid $navy;

    @at-root .bg-navy & {
      border-right: 2px solid $white;
    }
  }

  .indicator {
    @include transition;
    position: absolute;
    height: 37px;
    width: 2px;
    left: 100%;
    top: 0;
    background: $green;
    transform-origin: center;
    transform: scaleY(1.081);
  }

  .tab-control {
    @include titleize;
    @include navy-hover-blue;
    font-size: 13px;
    line-height: 21px;
    margin-right: 12px;
    padding: 8px;
    letter-spacing: 0.5px;

    @at-root .bg-navy & {
      @include white-hover-green;
    }

    &[data-state="active"] {
      color: $green;
    }
  }

  .content-group {
    margin-left: 20px;
    width: 100%;
    max-width: 700px;
  }

  .single-col,
  .col .wysiwyg {
    & > *:first-child {
      padding-top: 0;
    }
    a:not(.button) {
      @at-root .bg-navy & {
        color: $green;
        &:hover,
        &:focus {
          color: darken($green, 10%);
        }
      }
    }
  }

  .single-col,
  .left-col {
    padding-left: 18px;
  }

  .cols {
    display: flex;
    justify-content: space-between;
  }

  .col {
    width: calc(50% - 10px);
  }
}

// MOBILE ACCORDION MODE

.vertical-tabber-accordion {
  display: none;
  max-width: 600px;
  margin: 0 auto;

  .dropdown {
    .dropdown-items {
      position: static;
      background: none;
    }

    &.is-expanded .dropdown-button {
      background: $navy;
      border-color: $navy;
      @at-root .bg-navy & {
        background: $blue;
        border-color: $blue;
      }
    }
  }

  .single-col.wysiwyg,
  .left-col .wysiwyg,
  .right-col .wysiwyg {
    text-align: center;
  }

  .single-col,
  .col {
    max-width: 340px;
    margin: 0 auto 20px;
  }
}

@include respond-to($tablet-width) {
  .vertical-tabber {
    display: none;
  }
  .vertical-tabber-accordion {
    display: block;
  }
}

// BOTH MODES
.vertical-tabber,
.vertical-tabber-accordion {
  .image,
  .bullet-box,
  .button.max {
    margin: 0 0 20px;
  }

  .bullet-box {
    padding: 40px 30px 40px 40px;
    font-family: $barlow;
    font-weight: $regular;

    li {
      @include font-size(1.4, 2);
      margin-left: 16px;
      padding-right: 4px;
    }
  }

  .single-col.wysiwyg,
  .left-col .wysiwyg,
  .right-col .wysiwyg {
    p > a:only-child {
      @include titleize;
    }
  }
}
