/* ==========================================================================
   Flex Content: Video
   ========================================================================== */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //give zindex so we can position overlay on top
    z-index: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //position over iframe
    z-index: 2;
    .cover {
      background-color: $navy;
      opacity: .52;
    }
    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
      svg {
        width: 74px;
        height: 74px;
        margin: 0 auto;
      }
      .video-title {
        @include font-size(3.8,4.6);
        font-family: $barlow-condensed;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: #FFF;
        margin-top: 27px;
        display: inline-block;
      }
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
  @include respond-to(750px) {
    .overlay .play-button .video-title {
      @include font-size(1.6,1.7);
    }
  }
  @include respond-to(500px) {
    .overlay .play-button svg {
      width: 65px;
      height: 65px;
    }
  }
}
