/* ==========================================================================
   Flex: Volunteer Search
   ========================================================================== */

.algolia-search-inputs {
  display: flex;
  align-items: center;
}

.algolia-search-filter {
  margin-right: 20px;

  // this was for dropdownify FOUT, but since IE won't use it, we shouldn't hide
  // select {
  //   display: none;
  // }
}

.algolia-search-input {
  margin: 10px 10px 10px auto;
  width: calc((100% - 40px) / 2);
  .search-input {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
  }
}

#algolia-search {
  padding: 8px 10px;
}

// special case
.issue-filters .dropdown-items {
  flex-wrap: wrap;
  max-height: 500px;
  width: 688px;
  @include respond-to($container-width) {
    width: auto;
    flex-wrap: nowrap;
    overflow-y: scroll;
  }
  @include respond-to-height(768px) {
    max-height: 400px;
    overflow-y: scroll;
  }
  @include respond-to-height(600px) {
    max-height: 300px;
  }
}
.dropdown:not([data-value="#"]) .issue-filters .dropdown-items {
  padding-top: 36px;
  .dropdown-item:first-child {
    margin-top: -26px;
  }
}
