/*
//      _/      _/    _/_/    _/_/_/  _/      _/
//     _/_/  _/_/  _/    _/    _/    _/_/    _/
//    _/  _/  _/  _/_/_/_/    _/    _/  _/  _/
//   _/      _/  _/    _/    _/    _/    _/_/
//  _/      _/  _/    _/  _/_/_/  _/      _/
*/

/* ==========================================================================
   HTML, Body & Wrapper
   ========================================================================== */

html {
  font-size: 62.5% !important;
  overflow-x: hidden;
  width: 100vw;
  @include respond-to($container-width) {
    font-size: 62% !important;
  }
  @include respond-to($tablet-width) {
    font-size: 58% !important;
  }
  @include respond-to($mobile-width) {
    font-size: 55% !important;
  }
}

body {
  @include font-size(1.6);
  max-width: 100vw;
  overflow-x: hidden;
  background: $primary-color;
  color: $navy;
  font-family: $font;
}
.container,
.pseudo-container {
  position: relative;
  // TBD: Setup different container widths
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 30px;
}

.break-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

a.anchor {
  position: relative;
  top: -$header_height;
}

/* ==========================================================================
   Logged In
   ========================================================================== */

body.admin-bar {
  .site-header {
    top: 32px;
  }
  .mobile-menu {
    top: 139px;
    max-height: calc(100vh - 139px);
  }
  @include respond-to(782px) {
    .site-header {
      top: 46px;
    }
    .mobile-menu {
      top: 153px;
      max-height: calc(100vh - 153px);
    }
  }
}
// Prevent dumb non-fixed pos of admin bar on mobile
// Which really only ammounts to WP making things hard to design around
#wpadminbar {
  @include respond-to(600px) {
    z-index: 3;
    position: fixed;
  }
}

/* ==========================================================================
   Override Normalize
   ========================================================================== */

figure {
  margin: 0;
}

pre {
  background: rgba($blue, 0.2);
  padding: 20px;
  font-size: 14px;
}
