/* ==========================================================================
   Utility Classes
   ========================================================================== */

// Background Colors
.bg-blue {
  background: $blue;
  color: $white;
}
.bg-green {
  background: $green;
  color: $white;
}
.bg-navy {
  background: $navy;
  color: $white;
}
.bg-orange {
  background: $orange;
  color: $white;
}
.bg-darkblue {
  background: $darkblue;
  color: $white;
}
.bg-brown {
  background: $brown;
  color: $white;
}
.bg-darkgray {
  background: $darkgray;
  color: $textgray;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $navy;
  }
}
.bg-lightgray {
  background: $lightgray;
  color: $textgray;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $navy;
  }
}
.bg-white {
  background: $white;
  color: $textgray;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $navy;
  }
}
// legacy hive stuff might still be bouncing around
.bg-color-primary {
  background: $primary-color;
}
.bg-color-secondary {
  background: $secondary-color;
}
.bg-color-tertiary {
  background: $tertiary-color;
}
.bg-color-white {
  background: #fff;
}
.bg-color-gray {
  background: #f1f1f1;
}

// Colors
.color-blue {
  color: $blue;
}
.color-green {
  color: $green;
}
.color-navy {
  color: $navy;
}
.color-orange {
  color: $orange;
}
.color-darkblue {
  color: $darkblue;
}
.color-brown {
  color: $brown;
}
.color-darkgray {
  color: $darkgray;
}
.color-white {
  color: $white;
}

// Text Colors
.text-light {
  color: $light-color;
}
.text-dark {
  color: $dark-color;
}

// Overlays
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  &.image {
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
  &.video {
    max-height: 100%;
    overflow: hidden;
    z-index: 1;
    video {
      @include align(horizontal);
      top: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
    }
  }
  &.dark {
    background: #000;
  }
  &.light {
    background: #fff;
  }
}

// Visibility
.hidden {
  display: none !important;
}
.screen-reader-text {
  overflow: hidden;
  max-height: 0;
  max-width: 0;
  margin: 0;
  padding: 0;
}

// Accompany JS
.js-nice-cols {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.js-pre-init {
  position: absolute;
  top: 0;
  visibility: hidden;
}

// IE Object-fit-fix
.ie-object-fit-active {
  background-size: cover;
  background-position: center center;
  img {
    opacity: 0;
  }
}
