/*
//       _/_/_/    _/_/    _/      _/  _/_/_/_/  _/_/_/    _/_/_/
//    _/        _/    _/  _/_/    _/  _/          _/    _/
//   _/        _/    _/  _/  _/  _/  _/_/_/      _/    _/  _/_/
//  _/        _/    _/  _/    _/_/  _/          _/    _/    _/
//   _/_/_/    _/_/    _/      _/  _/        _/_/_/    _/_/_/
*/

/* ==========================================================================
   Colors & Shades
   ========================================================================== */

/***** VALUES *****/
$header-height: 109px;

/***** THEME COLORS *****/

$blue: #4280c2;
$blue-darken: darken($blue, 15%);
$brown: #6e573f;
$darkblue: #41787d;
$darkgray: #e4ebee;
$green: #8cbb3f;
$lightgray: #f9f9f9;
$navy: #1a4068;
$orange: #f29745;
$white: #ffffff;
$pink: #b44789;

$textgray: #686868;
$othergray: #b9b9b9;
$chromegray: #979797;
$otherlightgray: #d8d8d8;

$lockgray: #e4ebee;

$red: #d0021b; /* not specified by designer */

/***** DEFAULT COLORS *****/

$primary-color: $navy;
$secondary-color: $blue;
$tertiary-color: $green;
$link-color: $blue;

$positive-color: $green;
$negative-color: $red;

$dark-color: $navy;
$medium-color: $othergray;
$light-color: $darkgray;

/***** WP-ADMIN COLORS *****/

$base-color: $primary-color; // Should appear ok with white text
$highlight-color: $tertiary-color; // Primary color, buttons
$notification-color: $orange; // Alert color
$action-color: $orange; // I don't know, lol

/***** TEXT SELECTION COLOR *****/

::selection {
  background: $primary-color;
  color: #fff;
}
::-moz-selection {
  background: $primary-color;
  color: #fff;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

$barlow: "Barlow", sans-serif;
$barlow-condensed: "Barlow Condensed", sans-serif;
$zilla: "Zilla Slab", serif;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

//set default
$font: $zilla;

/* ==========================================================================
   Widths & Breakpoints
   ========================================================================== */

$comp-width: 1440px;
$container-width: 1120px;
$container-inner-width: 1060px;
$container-width-small: 940px;
$tablet-width: 980px;
$mobile-width: 600px;
$mobile-width-small: 480px;
$mobile-width-tiny: 370px;

/* ==========================================================================
   Site Mixins
   ========================================================================== */

@mixin titleize() {
  font-family: $barlow-condensed;
  font-weight: $medium;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin navy-hover-blue() {
  color: $navy;

  &:hover,
  &:focus {
    color: $blue;
  }
}

@mixin white-hover-blue() {
  color: $white;

  &:hover,
  &:focus {
    color: $blue;
  }
}
@mixin white-hover-green() {
  color: $white;

  &:hover,
  &:focus {
    color: $green;
  }
}
@mixin blue-hover-navy() {
  color: $blue;

  &:hover,
  &:focus {
    color: $navy;
  }
}
@mixin grid-container() {
  margin: 0 auto;
  @include respond-to($container-width) {
    max-width: 790px;
  }
  @include respond-to(850px) {
    max-width: 520px;
  }
  @include respond-to(580px) {
    max-width: 250px;
  }
}

@mixin rhombus($origin: bottom, $width: 81) {
  transform: skewX(-18.238deg);
  transform-origin: $origin;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $width + px;
}
/* ==========================================================================
   Hive Mixins
   ========================================================================== */

@mixin align($dir) {
  position: absolute;
  @if $dir == vertical {
    top: 50%;
    transform: translateY(-50%);
  } @else if $dir == horizontal {
    left: 50%;
    transform: translateX(-50%);
  } @else if $dir == both {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}
@mixin boop() {
  &:active {
    position: relative;
    top: 1px;
  }
}
@mixin bw() {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
@mixin bw_remove() {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  -webkit-filter: grayscale(0%);
}
@mixin cf() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin flipit() {
  display: block;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
@mixin font-size($size: 99, $line: 99) {
  @if $size != 99 {
    font-size: ($size * 10) + px;
    font-size: $size + rem;
  }
  @if $line != 99 {
    line-height: ($line * 10) + px;
    line-height: $line + rem;
  }
}
@mixin font-size-import($size: 99, $line: 99) {
  @if $size != 99 {
    font-size: ($size * 10) + px !important;
    font-size: $size + rem !important;
  }
  @if $line != 99 {
    line-height: ($line * 10) + px !important;
    line-height: $line + rem !important;
  }
}
@mixin icomoon($c) {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $c;
}
@mixin plain {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin transition {
  transition: all 150ms ease;
}
@mixin znext($layer) {
  transform: translateZ($layer + px);
}
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
@mixin triangle($direction, $width, $height, $color) {
  @if not
    index(
      "up" "up-right" "right" "down-right" "down" "down-left" "left" "up-left",
      $direction
    )
  {
    @error "Direction must be `up`, `up-right`, `right`, `down-right`, " + "`down`, `down-left`, `left` or `up-left`.";
  } @else if not _is-color($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in " + "the `triangle` mixin.";
  } @else {
    border-style: solid;
    height: 0;
    width: 0;
    @if $direction == "up" {
      border-color: transparent transparent $color;
      border-width: 0 ($width / 2) $height;
    } @else if $direction == "up-right" {
      border-color: transparent $color transparent transparent;
      border-width: 0 $width $width 0;
    } @else if $direction == "right" {
      border-color: transparent transparent transparent $color;
      border-width: ($height / 2) 0 ($height / 2) $width;
    } @else if $direction == "down-right" {
      border-color: transparent transparent $color;
      border-width: 0 0 $width $width;
    } @else if $direction == "down" {
      border-color: $color transparent transparent;
      border-width: $height ($width / 2) 0;
    } @else if $direction == "down-left" {
      border-color: transparent transparent transparent $color;
      border-width: $width 0 0 $width;
    } @else if $direction == "left" {
      border-color: transparent $color transparent transparent;
      border-width: ($height / 2) $width ($height / 2) 0;
    } @else if $direction == "up-left" {
      border-color: $color transparent transparent;
      border-width: $width $width 0 0;
    }
  }
}

/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes animate-display-on {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-display-off {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes flex-display-on {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flex-display-off {
  0% {
    display: flex;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes submenu-display-on {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-15px);
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes submenu-display-off {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    display: block;
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    display: none;
    transform: translateY(-15px);
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@mixin respond-to($bp) {
  @media only screen and (max-width: $bp) {
    @content;
  }
}
@mixin respond-above($bp) {
  @media only screen and (min-width: $bp + 1) {
    @content;
  }
}
@mixin respond-between($bp1, $bp2) {
  @media only screen and (min-width: $bp1 + 1) and (max-width: $bp2) {
    @content;
  }
}
@mixin respond-to-height($bp) {
  @media only screen and (max-height: $bp) {
    @content;
  }
}
@mixin respond-above-height($bp) {
  @media only screen and (min-height: $bp + 1) {
    @content;
  }
}
@mixin respond-between-height($bp1, $bp2) {
  @media only screen and (min-height: $bp1 + 1) and (max-height: $bp2) {
    @content;
  }
}
@mixin respond-to-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin retina() {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
